<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{__ "txt_login"}}-{{projcfg.apptitle}}</title>
<meta name="keywords" content="{{projcfg.keywords}}">
<meta name="description" content="{{projcfg.appdescription}}">

<!--Basic Styles-->
<link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/bootstrap.min.css" rel="stylesheet" />
<link id="bootstrap-rtl-link" href="" rel="stylesheet" />
<link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/font-awesome.min.css" rel="stylesheet" />




<!--Fonts-->
<!--
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
-->
<!--Beyond styles-->

<link id="beyond-link" href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/beyond.min.css" rel="stylesheet" type="text/css" />
<!--
    <link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/demo.min.css" rel="stylesheet" />
    <link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/typicons.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    -->
<!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
<script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/skins.js"></script>
<style>
    body:before {
        background:url({{projcfg.appurl}}/static/images/login_bg.png);
        background-size:100%;
    }
</style>
<script>
    // var message =cc1

    var randomNumber//随机验证xz码\



    //选项卡触发
    function loadTab(){
        //document.getElementById('message2').innerHTML='';
        $("#mod1").hide();
        $("#mod2").show();
//        $(this).addClass("active").siblings().removeClass("active");
    };

    function loadTab2() {
        //document.getElementById('message2').innerHTML='';
        $("#mod2").hide();
        $("#mod1").show();
    }
    //手机号码校验
    function checkPhone(mobile){
        // var mobile = document.getElementById('phonename').value;
        var reg = /^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
        if (!reg.test(mobile)) {
            document.getElementById('message2').innerHTML='请填入正确的手机号！';
            return 1;
        }
    }



    //获取验证码
    var countdown=60;
    function settime(obj) {
        var phonename = document.getElementById('phonename').value;
        if(phonename==''){
            document.getElementById('message2').innerHTML='手机号码不能为空！';
            return;
        }
        if(checkPhone(phonename)){
            return;
        };
        if(countdown==60){
            /* randomNumber = parseInt(((Math.random()*9+1)*1000))
             console.log("生成的验证码："+randomNumber);*/
            $.ajax({
                url:'{{projcfg.appurl}}/getVerificationcode?_csrf={{ _csrfToken }}',
                type:'post',
                data:{phonename:phonename},
                dataType:'json',
                success:function(result){
                    if(result.success){

                    }else {
                        document.getElementById('message2').innerHTML=result.msg;
                    }
                },
            });
        }
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value="获取验证码";
            countdown = 60;
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value="重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function() {
                    settime(obj) }
                ,1000)
    }


    function submitForm(flag) {
        if(flag==1){
            var username = document.getElementById('username').value;
            if(username==''){
                document.getElementById('message1').innerHTML='账号不能为空！';
                return false;
            }
            var password_ = document.getElementById('password_').value;
            if(password_==''){
                document.getElementById('message1').innerHTML='密码不能为空！';
                return false;
            }
            document.getElementById('password').value = strEnc(hex_md5(password_), '{{key_1}}', '{{key_2}}', '{{key_3}}');
            document.getElementById('password_').value = "";
            return true;
        }else if(flag==2){//phonename
            var phonename = document.getElementById('phonename').value;
            if(phonename==''){
                document.getElementById('message2').innerHTML='手机号不能为空！';
                return false;
            }
            if(checkPhone(phonename)){
                return false;
            }

            var verificationCode = document.getElementById('verificationCode_').value;
            if(verificationCode==''){//verificationCode
                document.getElementById('message2').innerHTML='请输入短信验证码！';
                return false;
            }
            var butten = document.getElementById('btn').value;
            if(butten=='获取验证码'){
                document.getElementById('message2').innerHTML='请重新发送验证码！';
                return false;
            }
            enccode(verificationCode);
            alert(document.getElementById('verificationCode').value);
//            document.getElementById('verificationCode').value = ec;
//            document.getElementById('verificationCode_').value = "";
//            return true;
//            $("#phoneform").submit();
        }
    }

    function enccode(code){
        $.ajax({
            url:'{{projcfg.appurl}}/encverfcode?_csrf={{ _csrfToken }}',
            type:'post',
            data:{verfcode:code},
            dataType:'json',
            async:false,
            success:function(result){
                if(result.success){
                    console.log(result.data,'fanhui');
                    document.getElementById('verificationCode').value = result.data;
                    document.getElementById('verificationCode_').value = "";
                }else {
                    document.getElementById('message2').innerHTML='验证码错误';
                }
            }
        });
    }
    //手机号登陆
    /* function submitForm2() {
         //checkPhone();
         var verificationCode = document.getElementById('verificationCode').value;
         if(verificationCode==randomNumber){
             console.log("验证码输入正确");
             return true;
         }else {
             console.log("验证码输入有误，请重新输入验证码");
             return false;
         }

     }*/
    /*    function reloadCaptcha() {
            document.getElementById('captchaImg').src = '{{projcfg.appurl}}/captcha?'+new Date();
    }*/

</script>
<!-- gray-bg-->
<body class=" {{projcfg.skin}}" style="font-family:'Microsoft YaHei';" >
<div align="center"><img src="{{projcfg.appurl}}/static/images/login_logo.png"></div>
<!--<div align="center" style="margin-top: 0px"><font size="5"><b>v2.0.5</b></font></div>-->





<!--账号登陆-->
<div id="mod1" class="mod1">
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white" style="">
            <div class="loginbox-title" >账号登陆</div>

            <form class="m-t" role="form" action="{{projcfg.appurl}}/login" method="post" onsubmit="return submitForm(1);">
                <div class="loginbox-textbox">
                    <!-- <input id="username" name='username'  value='' type="text" class="form-control" placeholder="{{{__ "tips_input_loginid"}}}" />-->
                    <input id="username" name='username'  value='' type="text" class="form-control" placeholder="请输入账号" />
                    <input type="hidden" id="flag" name="flag" value="1"/>
                </div>
                <div class="loginbox-textbox">
                    <input id="password_" name='password_'  value='' type="password" class="form-control" placeholder="{{{__ "tips_input_password"}}}" />
                    <input type="hidden" id="password" name="password"/>
                </div>
                <!-- {{#if projcfg.captcha_login_enable}}
                    <div class="loginbox-textbox">
                        <input id="captcha" name='captcha'  value='' type="text" class="form-control" style="width:127px;display: inline;" placeholder="{{{__ "tips_input_captcha"}}}" />
                        <img id="captchaImg" style="display: inline;vertical-align: top;" src="{{projcfg.appurl}}/captcha" onclick="reloadCaptcha()"/>
                    </div>
                {{/if}}-->
                <div class="loginbox-submit">
                    <input type="submit" class="btn btn-primary btn-block" value="{{{__ "btn_login"}}}">
                </div>
                <div  id="message1" class="loginbox-textbox" style="color:red;">
                    {{message1}}
                </div>
                <div class="login" style="margin-left: 68%; margin-bottom: -19px">
                    <a href="#" >账号登陆</a>
                </div>
                <div class="login" style="margin-left: 14%">
                    <a href="#" onclick="loadTab()">手机登录</a>
                </div>
                <input type='hidden' name='_csrf' value='{{ _csrfToken }}'/>
            </form>
        </div>
    </div>
</div>
<!--手机登录-->
<div id="mod2" class="mod2" style="display: none">
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white" style="">
            <div class="loginbox-title" >手机登陆</div>

            <form class="m-t" role="form" action="{{projcfg.appurl}}/login" method="post" id="phoneform"  onsubmit="return submitForm(2);">

                <div class="loginbox-textbox">
                    <input id="phonename" name='username'  value='' type="text" class="form-control" placeholder="请输入手机号" />
                    <input type="hidden" id="flag" name="flag" value="2"/>
                </div>
                <div class="loginbox-textbox" style="margin-top: -22px">
                    <input type="hidden" id="verificationCode" name="verificationCode"/>
                    <input type="text" id="verificationCode_" name="verificationCode_" class="form-control" value="" placeholder="短信验证码" style="width: 43%;margin-top: 9%"/>
                    <input type="button" id="btn" class="form-control" value="获取验证码"  style="width: 52%;margin-left: 48%;margin-top: -34px"   onclick="settime(this)" />
                </div>
                <!-- {{#if projcfg.captcha_login_enable}}
                    <div class="loginbox-textbox">
                        <input id="captcha" name='captcha'  value='' type="text" class="form-control" style="width:127px;display: inline;" placeholder="{{{__ "tips_input_captcha"}}}" />
                        <img id="captchaImg" style="display: inline;vertical-align: top;" src="{{projcfg.appurl}}/captcha" onclick="reloadCaptcha()"/>
                    </div>
                {{/if}}-->
                <div class="loginbox-submit">
                    <input type="submit" class="btn btn-primary btn-block" value="{{{__ "btn_login"}}}" >
                </div>
                <div id="message2" class="loginbox-textbox" style="color:red;">
                    {{message2}}
                </div>
                <div class="login " style="margin-left: 68%; margin-bottom: -19px">
                    <a href="#"  onclick="loadTab2()">账号登陆</a>
                </div>
                <div class="login" style="margin-left: 14%">
                    <a href="#" >手机登录</a>
                </div>
                <input type='hidden' name='_csrf' value='{{ _csrfToken }}'/>
            </form>
        </div>
    </div>
</div>


<!--Basic Scripts-->
<script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/jquery.min.js"></script>
<script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/bootstrap.min.js"></script>
<script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/slimscroll/jquery.slimscroll.min.js"></script>

<!--Beyond Scripts-->
<script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/beyond.min.js"></script>
<script src="{{projcfg.appurl}}/static/js/common/md5.js"></script>
<script src="{{projcfg.appurl}}/static/js/common/security.mini.js"></script>


<script>
    $(function () {
        if('{{flag}}'==2){//手机登录
            loadTab();
        }else {//账号登陆
            loadTab2();
        }
    });


</script>




</body>
</html>
