<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh_CN'>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{projcfg.apptitle}}</title>
    <meta name="keywords" content="{{projcfg.keywords}}">
    <meta name="description" content="{{projcfg.appdescription}}">

    <!--Basic Styles-->
    <link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/bootstrap.min.css" rel="stylesheet" />

    <!-- font awesome -->
    <link href="{{projcfg.appurl}}/static/css/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Google Fonts
    <link href="{{projcfg.appurl}}/static/css/font-google/font-google.css" rel="stylesheet" />
-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{projcfg.appurl}}/static/js/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="{{projcfg.appurl}}/static/js/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--Beyond styles-->
    <link id="beyond-link-bak" href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/beyond.min.css" rel="stylesheet" type="text/css" />
<!--

    <link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/demo.min.css" rel="stylesheet" />
    <link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/typicons.min.css" rel="stylesheet" />
    <link href="{{projcfg.appurl}}/static/{{projcfg.theme}}css/animate.min.css" rel="stylesheet" />

    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
-->
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/skins.js"></script>

    <!--Basic Scripts-->
    <script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/jquery.min.js"></script>
    <script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/bootstrap.min.js"></script>
    <script src="{{projcfg.appurl}}/static/{{projcfg.theme}}js/slimscroll/jquery.slimscroll.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/js/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/js/easyui/themes/icon.css">
    <script type="text/javascript" src="{{projcfg.appurl}}/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="{{projcfg.appurl}}/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{projcfg.appurl}}/static/js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="{{projcfg.appurl}}/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/css/common/style.css">
    <script>
        $.ajaxSettings.beforeSend = function(xhr, request) {
            xhr.setRequestHeader('csrf-token', '{{_csrfToken}}');
        }
    </script>
</head>
<body class="{{projcfg.skin}}" style="font-family:'Microsoft YaHei'" >
{{{body}}}
</body>
</html>
