<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">
<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="width:600px;height:666px;">

                    <div id="toolbar1" class="row tbRow">
                        <div class="col-xs-8 col-md-8">
                            <div class="btn-group" role="group" aria-label="...">
                                <div class="btn-group" role="group" aria-label="...">
                                    <!--<button type="button" class="btn btn-default" onclick="addNewOrder()"><i class="fa fa-plus"></i>新增</button>-->
                                    <label for="filterParam3">工单类型：</label>
                                    <select class="easyui-combobox"id="proc_task_code"  style="width: 180px;height:31px;">
                                    </select>
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">开始时间：</label>
                                    <input id="startDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:30px">
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">开始时间：</label>
                                    <input id="endDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:30px">
                                </div>
                                <span style="color:red;font-size:13px">提示:双击查看工单</span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 text-right">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <!--<input type="input" id="filterParam1" class="form-control" style="width:130px;" placeholder="输入标题查询"/>-->
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table id="detailTable">

                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

<div id="dd"></div>



<script type="text/javascript">

    $(document).ready(function () {
        //加载所辖渠道未处理工单
       loadChannelTodoListDatagrid();

        //初始化工单类型下拉框
        getAllProBase();
        $('#startDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var endDate = new Date($('#endDate').datebox('getValue'));
                if($('#endDate').datebox('getValue')){
                    var d1 = new Date(endDate.getFullYear(), endDate.getMonth(), endDate.getDate());
                    return  date<=d1;
                }else{
                    return true;
                }
            }
        });

        $('#endDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var startDate = new Date($('#startDate').datebox('getValue'));
                if($('#startDate').datebox('getValue')){
                    var d1 = new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());
                    return  date>=d1;
                }else{
                    return true;
                }

            }
        });
    });

    //时间格式化:new Date().Format("yyyy-MM-dd hh:mm:ss");
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function loadChannelTodoListDatagrid(){

        // 加载工单基本属性列表
        $('#detailTable').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/order_statistics/channel_detail_list',
            queryParams: {
                status: '3',
                proc_code: $("#proc_task_code").combobox('getValue'),
                startDate: $("#startDate").datebox('getValue'),
                endDate: $("#endDate").datebox('getValue'),
            },
            method:'post',
            rownumbers:true,
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            toolbar: '#toolbar1',
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            columns:[[
                {"field":"_id",checkbox:true},
                {"field": "proc_inst_id","title":"工单ID","width":"150px"},
                {"field": "proc_title","title":"标题","width":"300px",
                    formatter:function(value,row,index){
                        return "<span title='" +value + "'>" + value + "</span>";
                    }},
                {"field": "proc_vars","title":"派单内容","width":"300px",
                    formatter:function(value,row,index){
                        if(value){
                            var json=JSON.parse(value);
                            if(json){
                                return "<span title='" + json.remark + "'>" + json.remark + "</span>";
                            }else{
                                return '<span style="color:red">派单内容格式错误</span>';
                            }

                        }else{
                            return '无派单内容';
                        }
                    }},
                {"field": "proc_name","title":"类型","width":"150px"},
                {"field": "proc_inst_task_assignee_name","title":"当前处理人","width":"150px",
                    formatter:function(value,row,index){
                        if(row.proc_inst_status==4){
                            return  '<span style="color:green">/</span>';
                        }else{
                            return value;
                        }
                    }},
                {"field": "proc_inst_task_type","title":"当前状态","width":"150px",
                    formatter:function(value,row,index){
                        if(row.proc_inst_status==4){
                            return  '<span style="color:green">已归档</span>';
                        }else{
                            return value;
                        }


                    }},
                {"field": "proc_cur_arrive_time","title":"创建时间","width":"150px",
                    formatter:function(value,row,index){
                        return new Date(value).Format("yyyy-MM-dd hh:mm:ss");

                    }},
                {"field": "proc_start_user_name","title":"工单发起人","width":"150px"},
                {"field": "channel_code","title":"被派单渠道ID","width":"100px"},
                {"field": "channel_name","title":"被派单渠道名称","width":"300px"},
                {"field": "user_name","title":"被派单渠道负责人","width":"150px"},
                {"field": "user_phone","title":"被派单渠道负责人手机号码","width":"150px"},
            ]],
            onDblClickRow:function(rowIndex, rowData){

                var url='{{projcfg.appurl}}/api/order_manage/order_list/showDetailView?proc_code='+rowData.proc_code+'&change_id='+rowData.proc_inst_id+'&status=3';
                var content = '<iframe src="'+url+'" width="100%" height="99%" frameborder="0" scrolling="yes"></iframe>';


                $('#dd').dialog({
                    title : '工单详情',
                    width : 950,
                    height : 550,
                    closed : false,
                    cache : false,
                    content :content ,
                    modal : true
                });

            },
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError(json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    }



    /**
     * 初始化工单类型下拉框
     */
    function getAllProBase(){
        $("#proc_task_code").combobox({
            method: 'get',
            url: '{{projcfg.appurl}}/api/order_manage/order_list/proBase',
            valueField:'proc_code',
            textField:'proc_name'
        });

    }

    //查询
    function  doSearch(){
        $('#detailTable').datagrid({
            url: '{{projcfg.appurl}}/api/order_manage/order_statistics/channel_detail_list',
            queryParams: {
                status: '3',
                proc_code: $("#proc_task_code").combobox('getValue'),
                startDate: $("#startDate").datebox('getValue'),
                endDate: $("#endDate").datebox('getValue'),

            }
        })
    }
</script>