<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">
<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="width:600px;height:666px;">

                    <div id="toolbar1" class="row tbRow">
                        <div class="col-xs-8 col-md-8">
                            <div class="btn-group" role="group" aria-label="...">

                                <label for="filterParam3">工单编号：</label>
                                <input class="easyui-textbox"id="work_order_number"  style="width: 180px;height:31px;">
                                </input>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <label for="filterParam3">工单类型：</label>
                                <select class="easyui-combobox"id="proc_task_code"  style="width: 180px;height:31px;">
                                </select>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <span style="color:red;font-size:13px">提示:双击查看工单</span>

                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 text-right">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table id="orderTablelist">

                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

<div id="dd"></div>
<div id="win" class="easyui-window" closed="true"collapsible="false" minimizable="false" maximizable="false" title="提示">
    <form id="workIdForm">
        <p>请输入营业员工号: <input id="workId" type="text"class="easyui-textbox" data-options="required:true, missingMessage:'请输入营业员工号'"></p>
        <div id="workIdBtns">
            <a id="wordIdSubmit" class="easyui-linkbutton" icon="icon-ok" onclick="turn2SendTask()">确定</a>
            <a id="wordIdCancel" class="easyui-linkbutton" icon="icon-cancel" onclick="$('#win').window('close');">取消</a>
        </div>
        <input id="instId" type="hidden"/>
    </form>
</div>
<style type="text/css">
    #workIdForm{
        padding:30px 10px 10px 10px;
    }
    #wordIdSubmit,#wordIdCancel{
        padding:0px 10px;
    }
    #wordIdSubmit{
        margin-right:10px;
    }
    #wordIdCancel{
        margin-left:10px;
    }
    #win{
        width:320px;
        height:150px;
    }
    #workIdBtns{
        padding-top:20px;
        text-align:center;
    }
</style>
<script src="{{projcfg.appurl}}/static/js/layer/layer.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //初始化工单类型下拉框
        getAllProBase();
        //加载已办工单列表
        loadOrderCompleteteListDatagrid();
		 //初始化处理节点下拉框
        listAllTaskType();

    });
    //时间格式化:new Date().Format("yyyy-MM-dd hh:mm:ss");
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function loadOrderCompleteteListDatagrid(){

        // 加载工单基本属性列表
        $('#orderTablelist').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/order_complete/list',
            method:'post',
            rownumbers:true,
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            queryParams: {
                proc_code: $("#proc_task_code").combobox('getValue'),
            },
            toolbar: '#toolbar1',
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            columns:[[
                {"field":"id",checkbox:true},
                {"field":"_id",hidden:true},
                {"field":"proc_inst_id",hidden:true},
                {"field": "work_order_number","title":"工单编号","width":55},
                {"field": "proc_inst_task_title","title":"工单标题","width":100,
                    formatter:function(value,row,index){
                        return "<span title='" + value + "'>" + value + "</span>";

                    }},
                {"field": "proc_name","title":"工单类型","width":50},
                {"field": "proc_inst_task_remark","title":"处理意见","width":50},
                {"field": "proc_inst_task_name","title":"处理节点","width":50},
                {"field": "proc_inst_task_complete_time","title":"处理时间","width":80,
                    formatter:function(value,row,index){
                        var isoDateStr = value.substring(0,value.indexOf('.'));
                        var date=new Date(isoDateStr.replace(/-/g,'/').replace(/T|Z/g,' '));
                        date.setHours(date.getHours()+8)
                        return  date.Format("yyyy-MM-dd hh:mm:ss");
                    }},
                {"field": "proc_task_start_name","title":"发起人","width":50}

            ]],
            onDblClickRow:function(rowIndex, rowData){
                var url='{{projcfg.appurl}}/api/order_manage/order_list/showDetailView?proc_code='+rowData.proc_code+'&status=3&change_id='+rowData.proc_inst_id;
                $('#dd').dialog({
                    title : '工单详情',
                    width : 1250,
                    height : 650,
                    closed : false,
                    cache : false,
                    href :url ,
                    modal : true
                });


            },
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError(json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            pageSize: 20,
            loadMsg:'正在加载...'
        });
    }
    /**
     * 初始化工单类型下拉框
     */
    function getAllProBase(){
        $("#proc_task_code").combobox({
            method: 'get',
            url: '{{projcfg.appurl}}/api/order_manage/order_list/proBase',
            valueField:'proc_code',
            textField:'proc_name'
        });
        $("#proc_task_code").combobox("setValue","p-109");

    }
    //查询
    function  doSearch(){
        $('#orderTablelist').datagrid({
            url: '{{projcfg.appurl}}/api/order_manage/order_complete/list',
            queryParams: {
                proc_code: $("#proc_task_code").combobox('getValue'),
                work_order_number:$("#work_order_number").val(),
            }
        });
    }
	
	 function turn2Send(){
        var row=$('#orderTablelist').datagrid('getSelected');
        if(!row){
            $.messager.show({
                title:'提示',
                msg:'请先选择工单',
                timeout:2000,
                showType:'show',
                style:{

                }
            });
            return false;
        }
        $("#instId").val(row.proc_inst_id);
        $('#win').window('open');
    }

    function turn2SendTask(){
        var workId = $('#workId').textbox('getValue');
        var instId = $("#instId").val();
        $.ajax({
            type:"post",
            url:"{{projcfg.appurl}}/api/order_manage/order_complete/turn2SendTask",
            dataType:"json",
            data:{"workId":workId,"instId":instId},
            success:function(data){
                if(data.success){
                    layerMsg(6,data.msg);
                }else{
                    layerMsg(5,data.msg);
                }
                $('#win').window('close');
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                layerMsg(5,"派单失败:"+textStatus);
                $('#win').window('close');
            }
        });
        $('#workId').textbox('setValue', '');
    }

    function layerMsg (icon,msg){
        layer.msg(msg, {icon: icon,offset: 'rb',area: '250px'});
    }
    function listAllTaskType(){
        $("#taskType").combobox({
            method: 'post',
            url: '{{projcfg.appurl}}/api/order_manage/order_complete/listAllTaskType',
            valueField:'NAME',
            textField:'NAME'
        });
        $("#taskType").combobox("setValue","省营业销售部派发");
    }

</script>