<script src="{{projcfg.appurl}}/static/js/echart/v3.1.3/echarts.min.js"></script>
<!--<script src="{{projcfg.appurl}}/static/js/easyui/jquery.easyui.min.js"></script>-->
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row" >
                    <div  class="col-xs-12 col-md-12" >
                        <div class="row" >
                            <div  class="col-xs-12 col-md-12" >
                                <div class="widget widget-spacing">
                                    <div class="widget-header bordered-bottom bordered-themeprimary">
                                        <i class="widget-icon fa fa-tags themeprimary"></i>
                                        <span class="widget-caption themeprimary">系统工单量维度监控(图表)</span>
                                    </div>
                                    <!--Widget Header-->
                                    <div class="col-xs-11 col-md-11">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <label for="filterParam3">派单日期：</label>
                                            <input type="text" id="datetime" />
                                        </div>
                                    </div>

                                    <div class="col-xs-1 col-md-1 text-right">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="loadOrderMonitoring()"><i class="fa fa-search"></i>查询</button>
                                        </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="widget-body" id="pdtj">
                                        <div style="height:300px;">
                                            <div id="orderChart" style="width:100%;height:300px;"></div>
                                        </div>
                                    </div>

                                        <br>  <br>  <br>  <br>
                                    <div class="col-xs-11 col-md-11">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <label for="filterParam3">派单时间：</label>
                                            <input id="archive" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:25px">

                                        </div>
                                    </div>

                                    <div class="col-xs-1 col-md-1 text-right">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="loadOrderArchive()"><i class="fa fa-search"></i>查询</button>
                                        </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-body" id="gdtj">
                                        <div style="height:300px;">
                                            <div id="archiveChart" style="width:100%;height:300px;"></div>
                                        </div>
                                    </div>

                                        <br>  <br>  <br>  <br>
                                    <div class="col-xs-11 col-md-11">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <label for="filterParam3">派单时间：</label>
                                            <input type="text" id="circulation" />
                                        </div>
                                    </div>

                                    <div class="col-xs-1 col-md-1 text-right">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="loadOrderCirculation()"><i class="fa fa-search"></i>查询</button>
                                        </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-body" id="lztj">
                                        <div style="height:300px;">
                                            <div id="circulationChart" style="width:100%;height:300px;"></div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        init_yearMonth1();
        init_yearMonth2();
        loadOrderMonitoring();
        loadOrderArchive();
       loadOrderCirculation();
    });
    //年月初始化
    function init_yearMonth1(){
        var db = $("#datetime");
        db.datebox({
            onShowPanel: function () {//显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                span.trigger('click'); //触发click事件弹出月份层
                if (!tds) setTimeout(function () {//延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                    tds = p.find('div.calendar-menu-month-inner td');
                    tds.click(function (e) {
                        e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                        var year = /\d{4}/.exec(span.html())[0]//得到年份
                                , month = parseInt($(this).attr('abbr'), 10); //月份，这里不需要+1
                        db.datebox('hidePanel')//隐藏日期对象
                                .datebox('setValue', year + '-' + month); //设置日期的值
                    });
                }, 0);
                yearIpt.unbind();//解绑年份输入框中任何事件
            },
            parser: function (s) {
                if (!s) return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            formatter: function (d) {
                return d.getFullYear() + '-' + (d.getMonth() + 1);
            }
        });
        var p = db.datebox('panel'), //日期选择对象
                tds = false, //日期选择对象中月份
                yearIpt = p.find('input.calendar-menu-year'),//年份输入框
                span = p.find('span .calendar-text'); //显示月份层的触发控件
    }
    //年月初始化
    function init_yearMonth2(){
        var db = $('#circulation');
        db.datebox({
            editable:false,
            prompt:'选择年月',
            validType:[],
            onShowPanel: function () {//显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                span.trigger('click'); //触发click事件弹出月份层
                if (!tds) setTimeout(function () {//延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                    tds = p.find('div.calendar-menu-month-inner td');
                    tds.click(function (e) {
                        e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                        var year = /\d{4}/.exec(span.html())[0]//得到年份
                                , month = parseInt($(this).attr('abbr'), 10); //月份，这里不需要+1
                        db.datebox('hidePanel')//隐藏日期对象
                                .datebox('setValue', year + '-' + month); //设置日期的值
                    });
                }, 0);
                yearIpt.unbind();//解绑年份输入框中任何事件
                $(yearIpt).attr('readonly',true);//年份只读
                $(yearIpt).css('border-color','white');//边框去掉
            },
            parser: function (s) {
                if (!s) return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            formatter: function (d) { return d.getFullYear() + '-' + (d.getMonth() + 1);/*getMonth返回的是0开始的，忘记了。。已修正*/ }
        });
        var p = db.datebox('panel'), //日期选择对象
                tds = false, //日期选择对象中月份
                aToday = p.find('a.datebox-current'),
                yearIpt = p.find('input.calendar-menu-year'),//年份输入框
                //显示月份层的触发控件
                span = aToday.length ? p.find('div.calendar-title span') ://1.3.x版本
                        p.find('span.calendar-text'); //1.4.x版本
        if (aToday.length) {//1.3.x版本，取消Today按钮的click事件，重新绑定新事件设置日期框为今天，防止弹出日期选择面板
            aToday.unbind('click').click(function () {
                var now=new Date();
                db.datebox('hidePanel').datebox('setValue', now.getFullYear() + '-' + (now.getMonth() + 1));
            });
        }
    }
     //派单统计
    function loadOrderMonitoring() {
        var val = $("#datetime").textbox('getValue');
        var d1;
        var d2;
        if(val){
            var q=val.toString();
            var m =val.substr(0,4);
            var d=parseInt(q.substring(q.length-1))+1;
            d1= new Date(val+'-1');
            d2=new Date(m+'-'+d+''+'-1');
        }else {
            var date = new Date();
            var y = date.getFullYear();
            var m1 = date.getMonth()+1;
            var m2 = date.getMonth()+1+1;
            var today1=y+"-"+m1+"-1";
            var today2=y+"-"+m2+"-1";
            d1 = new Date(today1);
            d2 = new Date(today2);
        }
        var d3;
        var monthArray =[];
        for (var i = d1.getTime() ; i < d2.getTime() ; i += 24*60*60*1000){
            d3 = new Date(i);
            var time=d3.toISOString().slice(0,10);
            monthArray.push(time);
        }
        ajaxLoading(1);
        //派单量折线图统计图
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_statistics/getMonitoringView',
            type: 'post',
            dataType:'json',
            data: {"monthArray":monthArray.toString()},
            success: function (datacount) {
                ajaxLoadEnd(1);
                if(datacount){
                    var orderChart = echarts.init(document.getElementById('orderChart'));
                    orderChart.setOption({
                        title: {
                            x: 'left',
                            text: '派单统计',
                            textStyle: {
                                fontSize: '18',
                                color: '#4c4c4c',
                                fontWeight: 'bolder'
                            }
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        calculable : true,
                        toolbox: {
                            show: true,
                            feature: {
                                dataZoom: {
                                    yAxisIndex: 'none'
                                },
                                dataView: {readOnly: false},
                                magicType: {type: ['line', 'bar']}

                            }
                        },
                        legend: {
                            data: ['派单总量', '差错工单量','预警工单量','资金稽核工单量']
                        },
                        xAxis:  {
                            name:'派单日期',
                            type: 'category',
                            boundaryGap: false,
                            data: monthArray,
                            axisLabel: {
                                interval:0,
                                rotate:-30//-30度角倾斜显示
                            }
                        },
                        yAxis: {
                            type: 'value',
                            name:'派单量(条)',
                            splitNumber:10
                        },
                        series: [
                            {
                                name:'派单总量',
                                type:'line',
                                data:datacount[0],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#080808'}}
                            },
                            {
                                name:'差错工单量',
                                type:'line',
                                data:datacount[1],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#32d2c9'}}
                            },
                            {
                                name:'预警工单量',
                                type:'line',
                                data:datacount[2],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#FF0000'}}
                            },
                            {
                                name:'资金稽核工单量',
                                type:'line',
                                data:datacount[3],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#0000CD'}}
                            }
                        ]
                    }) ;

                }else{
                    $.messager.alert('错误提示','数据异常！');
                }

            }
        });
    }
    //归档情况统计
    function loadOrderArchive() {
        var val = $("#archive").textbox('getValue');
        var today;
        if(val){
            today=val;
        }else{
            var date = new Date();
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            today=y+"-"+0+m+"-01";
        }
        var orderArray =['差错工单','预警工单','资金稽核工单'];
        ajaxLoading(2);
        <!--归档情况-->
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_statistics/getArchiveView',
            type: 'post',
            dataType:'json',
            data: {"today":today.toString()},
            success: function (datacount) {
                ajaxLoadEnd(2);
                if(datacount){
                    var archiveChart = echarts.init(document.getElementById('archiveChart'));
                    archiveChart.setOption({
                        title: {
                            x: 'left',
                            text: '归档情况统计',
                            textStyle: {
                                fontSize: '18',
                                color: '#4c4c4c',
                                fontWeight: 'bolder'
                            }
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        calculable : true,
                        toolbox: {
                            show: true,
                            feature: {
                                dataZoom: {
                                    yAxisIndex: 'none'
                                },
                                dataView: {readOnly: false},
                                magicType: {type: ['line', 'bar']}

                            }
                        },
                        barWidth : 30,//柱图宽度
                        legend: {
                            data: ['派单总量','归档量']
                        },
                        xAxis:  {
                            name:'工单类型',
                            type: 'category',
                            boundaryGap: false,
                            data: orderArray,
                            axisLabel: {
                                interval:0
                                //rotate:-30//-30度角倾斜显示
                            }
                        },
                        yAxis: {
                            type: 'value',
                            name:'数量',
                            splitNumber:10
                        },
                        series: [
                            {
                                name:'派单总量',
                                type:'bar',
                                data:datacount[0],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#050505'}}
                            },
                            {
                                name:'归档量',
                                type:'bar',
                                data:datacount[1],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#AE57E4'}}
                            }

                        ]
                    }) ;

                }else{
                    $.messager.alert('错误提示','数据异常！');
                }

            }
        });
    }
    //流转工单统计
    function loadOrderCirculation() {
        var val = $("#circulation").textbox('getValue');
        var d1;
        var d2;
        if(val){
            var q=val.toString();
            var m =val.substr(0,4);
            var d=parseInt(q.substring(q.length-1))+1;
            d1= new Date(val+'-1');
            d2=new Date(m+'-'+d+''+'-1');
        }else {
            var date = new Date();
            var y = date.getFullYear();
            var m1 = date.getMonth()+1;
            var m2 = date.getMonth()+1+1;
            var today1=y+"-"+m1+"-1";
            var today2=y+"-"+m2+"-1";
            d1 = new Date(today1);
            d2 = new Date(today2);
        }
        var d3;
        var monthArray =[];
        for (var i = d1.getTime() ; i < d2.getTime() ; i += 24*60*60*1000){
            d3 = new Date(i);
            var time=d3.toISOString().slice(0,10);
            monthArray.push(time);
        }
        ajaxLoading(3);
        //派单量折线图统计图
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_statistics/getCirculationView',
            type: 'post',
            dataType:'json',
            data: {"monthArray":monthArray.toString()},
            success: function (datacount) {
                ajaxLoadEnd(3);
                if(datacount){
                    var circulationChart = echarts.init(document.getElementById('circulationChart'));
                    circulationChart.setOption({
                        title: {
                            x: 'left',
                            text: '工单流转统计',
                            textStyle: {
                                fontSize: '18',
                                color: '#4c4c4c',
                                fontWeight: 'bolder'
                            }
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        calculable : true,
                        toolbox: {
                            show: true,
                            feature: {
                                dataZoom: {
                                    yAxisIndex: 'none'
                                },
                                dataView: {readOnly: false},
                                magicType: {type: ['line', 'bar']}

                            }
                        },
                        legend: {
                            data: ['工单流转总量', '差错工单流转量','预警工单流转量','资金稽核工单流转量']
                        },
                        xAxis:  {
                            name:'派单日期',
                            type: 'category',
                            boundaryGap: false,
                            data: monthArray,
                            axisLabel: {
                                interval:0,
                                rotate:-30//-30度角倾斜显示
                            }
                        },
                        yAxis: {
                            type: 'value',
                            name:'派单量(条)',
                            splitNumber:10
                        },
                        series: [
                            {
                                name:'工单流转总量',
                                type:'line',
                                data:datacount[0],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#080808'}}
                            },
                            {
                                name:'差错工单流转量',
                                type:'line',
                                data:datacount[1],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#32d2c9'}}
                            },
                            {
                                name:'预警工单流转量',
                                type:'line',
                                data:datacount[2],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#FF0000'}}
                            },
                            {
                                name:'资金稽核工单流转量',
                                type:'line',
                                data:datacount[3],
                                markLine: {data: [{type: 'average', name: '平均值'}]},
                                itemStyle : {normal : {color:'#0000CD'}}
                            }
                        ]
                    }) ;

                }else{
                    $.messager.alert('错误提示','数据异常！');
                }

            }
        });
    }

    function ajaxLoading(value){
        if(value==1){
            $("<div class=\"datagrid-mask\" id=\"pdtj1\"></div>").css({display:"block",width:50,height:150}).appendTo("#pdtj");
            $("<div class=\"datagrid-mask-msg\" id=\"pdtj2\"></div>").html("正在加载数据，请稍候...").appendTo("#pdtj").css({display:"block",left:400,top:200});

        }else if (value==2){
            $("<div class=\"datagrid-mask\" id=\"gdtj1\"></div>").css({display:"block",width:50,height:150}).appendTo("#gdtj");
            $("<div class=\"datagrid-mask-msg\" id=\"gdtj2\"></div>").html("正在加载数据，请稍候...").appendTo("#gdtj").css({display:"block",left:400,top:600});

        }else if (value==3){
            $("<div class=\"datagrid-mask\" id=\"lztj1\"></div>").css({display:"block",width:50,height:150}).appendTo("#lztj");
            $("<div class=\"datagrid-mask-msg\" id=\"lztj2\"></div>").html("正在加载数据，请稍候...").appendTo("#lztj").css({display:"block",left:400,top:1000});

        }
    }

    function ajaxLoadEnd(value){
        if(value==1){
            $("#pdtj1").remove();
            $("#pdtj2").remove();
        }else if(value==2){
            $("#gdtj1").remove();
            $("#gdtj2").remove();
        }else if(value==3){
            $("#lztj1").remove();
            $("#lztj2").remove();
        }

    }
</script>


