<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">
<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="width:600px;height:666px;">

                        <div id="toolbar1" class="row tbRow">
                            <div class="col-xs-8 col-md-8" style="width:80%" >

                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">开始时间：</label>
                                    <input id="startDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:30px">
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">结束时间：</label>
                                    <input id="endDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:30px">
                                </div>

                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">工单类型：</label>
                                    <select class="easyui-combobox"id="proc_code" label="State:" labelPosition="top" style="width: 180px;height:31px;">
                                        <option value="p-109">渠道指标预警工单</option>
                                        <option value="p-201">稽核差错工单</option>
                                    </select>
                                </div>

                                <div class="btn-group" role="group" aria-label="..." id="c_e_type">
                                    <label for="filterParam3">渠道类型：</label>
                                    <select class="easyui-combobox"id="channel_enterprise_type" label="State:" labelPosition="top" style="width: 180px;height:31px;">
                                        <option value="">=====全部=====</option>
                                        <option value="0">实体渠道</option>
                                        <option value="1">政企渠道</option>
                                    </select>
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button class="btn btn-default" type="button" onclick="is_use_org_code=1;doSearch();"><i class="fa fa-search"></i>查询</button>
                                </div>
                                <div class="btn-group" role="group" aria-label="...">

                                    <button class="btn btn-default" type="button" id="exportData"><i class="glyphicon glyphicon-open"></i>导出</button>

                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <a href="javascript:void(0);" class="easyui-linkbutton" style="height:30px"onclick="return_pre_org();" data-options="iconCls:'icon-back'" style="width:80px">返回上级</a>

                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <a href="javascript:void(0);" class="easyui-linkbutton" style="height:30px"onclick="return_first_org();" data-options="iconCls:'icon-back'" style="width:80px">返回顶级</a>

                                </div>

                            </div>
                            <div class="col-xs-12 col-md-12 text-right">
                                <form class="form-inline">
                                </form>
                            </div>

                        </div>
                    <div id="toolbar2" class="row tbRow" style="display:none">
                        <div class="col-xs-8 col-md-8">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-default" type="button" id="exportDataDetail"><i class="glyphicon glyphicon-open"></i>导出</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <span style="color:red;font-size:13px">提示:双击查看工单</span>
                            </div>
                        </div>

                    </div>
                        <table id="orderTablelist">

                        </table>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="detail"  class="mydialog"  >
    <table id="detailTable">

    </table>
</div>
<div id="dd"></div>
<div id="dlg" class="easyui-dialog" closed="true"  closable="false"title="正在导出">
    <div id="p" class="easyui-progressbar" style="width:400px;"></div>
</div>
<script type="text/javascript">


    var level;
    var org_id;
    //是否返回当前机构
    var org_status=0;
    //当前登录用户的区域级别
    var top_level;
    //当前登录用户的区域id
    var top_org_id;

    var export_status;
    $(document).ready(function () {
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_statistics/local_user',
            type: 'post',
            dataType:'json',
            success: function (data) {
                if(data.success){
                    org_status=1;
                    top_level=data.data.level;
                    top_org_id=data.data.org_id.join(",");
                    level=data.data.level;
                    org_id=data.data.org_id.join(",");
                    export_org_id=org_id;
                    export_status = 1;
                    //加载列表
                    loadOrderListDatagrid();
                }else{
                    $.messager.alert('错误提示','获取上级机构失败');
                }
            }
        });


        $('#startDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var endDate = new Date($('#endDate').datebox('getValue'));
                if($('#endDate').datebox('getValue')){
                    var d1 = new Date(endDate.getFullYear(), endDate.getMonth(), endDate.getDate());
                    return  date<=d1;
                }else{
                    return true;
                }
            }
        });

        $('#endDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var startDate = new Date($('#startDate').datebox('getValue'));
                if($('#startDate').datebox('getValue')){
                    var d1 = new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());
                    return  date>=d1;
                }else{
                    return true;
                }

            }
        });


    });

    //时间格式化:new Date().Format("yyyy-MM-dd hh:mm:ss");
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    function loadOrderListDatagrid(){
        var fields=[]
        if($("#proc_code").combobox("getValue")=='p-109'){
            fields=[
                {"field":"_id",hidden:true},
                {"field":"level",hidden:true},
                {"field":"company_code","title":"区域编码","width":"100px",
                    "sortable":true,sorter:function(a,b){
                    if(level>4){
                        return a<b?1:-1;
                    }else{
                        return a>b?1:-1;
                    }

                },
                    formatter:function(value,row,index){
                        level = row.level[0];
                        //大于6表示已经下砖到渠道层级
                        if(level+1>6 || row.company_code.length==8){
                            return value;
                        }else{
                            return '<a href="javascript:void(0);" onclick="doSearchOrg(\''+row._id+'\')">'+value+'</a>';

                        }

                    }},
                {"field": "org_fullname","title":"区域名称","width":"400px",
                    formatter:function(value,row,index){
                        level = row.level;
                        //大于6表示已经下砖到渠道层级
                        if(level+1>6  || row.company_code.length==8){
                            return value;
                        }else{
                            return '<a href="javascript:void(0);" onclick="doSearchOrg(\''+row._id+'\')">'+value+'</a>';

                        }

                    }},
                {"field": "totalNum","title":"工单数","width":"100px","sortable":true,sorter:function(a,b){
                    return a>b?1:-1;
                },
                    formatter:function(value,row,index){

                        if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(1,\''+row._id+'\')">'+(value)+'</a>';

                        }else{
                            return '<a href="javascript:void(0)">'+(value)+'</a>';

                        }

                    }
                },


                {"field": "fileNum","title":"归档工单数","width":"120px","sortable":true,sorter:function(a,b){
                    return a>b?1:-1;
                },
                    formatter:function(value,row,index){
                        if(parseInt(value)>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(5,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }
                    }},

                {"field": "notOvertimeNum","title":"及时归档工单数","width":"150px" ,"sortable":true,sorter:function(a,b){
                    return a>b?1:-1;
                },
                    formatter:function(value,row,index){
                        //大于6表示已经下砖到渠道层级

                        if(level+1>6){
                            return value;
                        }else if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(6,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }

                    }},

                {"field": "p3","title":"工单归档率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.fileNum==0|| row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.fileNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }},
                {"field": "p4","title":"工单及时归档率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.notOvertimeNum==0 || row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.notOvertimeNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }}

            ];
        }else if($("#proc_code").combobox("getValue")=='p-201'){
            fields=[
                {"field":"_id",hidden:true},
                {"field":"level",hidden:true},
                {"field":"company_code","title":"区域编码","width":"100px",
                    "sortable":true,sorter:function(a,b){
                    if(level>4){
                        return a<b?1:-1;
                    }else{
                        return a>b?1:-1;
                    }

                },
                    formatter:function(value,row,index){
                        level = row.level[0];
                        //大于6表示已经下砖到渠道层级
                        if(level+1>6 || row.company_code.length==8){
                            return value;
                        }else{
                            return '<a href="javascript:void(0);" onclick="doSearchOrg(\''+row._id+'\')">'+value+'</a>';

                        }

                    }},
                {"field": "org_fullname","title":"区域名称","width":"400px",
                    formatter:function(value,row,index){
                        level = row.level;
                        //大于6表示已经下砖到渠道层级
                        if(level+1>6  || row.company_code.length==8){
                            return value;
                        }else{
                            return '<a href="javascript:void(0);" onclick="doSearchOrg(\''+row._id+'\')">'+value+'</a>';

                        }

                    }},
                {"field": "totalNum","title":"工单数","width":"100px","sortable":true,sorter:function(a,b){
                    return a>b?1:-1;
                },
                    formatter:function(value,row,index){

                        if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(1,\''+row._id+'\')">'+(value)+'</a>';

                        }else{
                            return '<a href="javascript:void(0)">'+(value)+'</a>';

                        }

                    }
                },
                {"field": "treatedNum","title":"处理工单数","width":"100px",
                    formatter:function(value,row,index){
                        //大于6表示已经下砖到渠道层级

                        if(level+1>6){
                            return value;
                        }else if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(2,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return '<a href="javascript:void(0)">'+(value)+'</a>';

                        }
                    }
                },
                {"field": "overtimeTreatedNum","title":"超时处理工单数","width":"130px",
                    formatter:function(value,row,index){
                        //大于6表示已经下砖到渠道层级

                        if(level+1>6){
                            return value;
                        }else if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(3,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }
                    }
                },
                {"field": "untreatedNum","title":"未处理工单数","width":"100px",
                    formatter:function(value,row,index){
                        //大于6表示已经下砖到渠道层级

                        if(level+1>6){
                            return value;
                        }else if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(4,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }
                    }
                },

                {"field": "fileNum","title":"归档工单数","width":"120px","sortable":true,sorter:function(a,b){
                    return a>b?1:-1;
                },
                    formatter:function(value,row,index){
                        if(parseInt(value)>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(5,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }
                    }},

                {"field": "notOvertimeNum","title":"及时归档工单数","width":"150px" ,"sortable":true,sorter:function(a,b){
                    return a>b?1:-1;
                },
                    formatter:function(value,row,index){
                        //大于6表示已经下砖到渠道层级

                        if(level+1>6){
                            return value;
                        }else if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(6,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }

                    }},
                {"field": "oneFileNum","title":"一次归档工单数","width":"150px" ,"sortable":true,sorter:function(a,b){
                    return a>b?1:-1;
                },
                    formatter:function(value,row,index){
                        //大于6表示已经下砖到渠道层级

                        if(level+1>6){
                            return value;
                        }else if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(7,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }

                    }},
                {"field": "twiceAuditNum","title":"二次及以上归档工单数","width":"150px",
                    formatter:function(value,row,index){
                        //大于6表示已经下砖到渠道层级

                        if(level+1>6){
                            return value;
                        }else if(value>0){
                            return '<a href="javascript:void(0)" onclick="openDetail(8,\''+row._id+'\')">'+value+'</a>';

                        }else{
                            return value;

                        }
                    }
                },
                {"field": "p0","title":"工单处理率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.treatedNum==0|| row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.treatedNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }},
                {"field": "p1","title":"工单超时处理率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.overtimeTreatedNum==0|| row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.overtimeTreatedNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }},
                {"field": "p2","title":"工单未处理率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.untreatedNum==0|| row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.untreatedNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }},
                {"field": "p3","title":"工单归档率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.fileNum==0|| row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.fileNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }},
                {"field": "p4","title":"工单及时归档率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.notOvertimeNum==0 || row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.notOvertimeNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }},
                {"field": "p5","title":"一次归档率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.oneFileNum==0 || row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.oneFileNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }


                    }},
                {"field": "p6","title":"二次及以上归档率","width":"150px",
                    formatter:function(value,row,index){
                        if(row.twiceAuditNum==0|| row.totalNum==0){
                            return "0%";
                        }else{
                            var re=((parseInt(row.twiceAuditNum)/row.totalNum).toFixed(5)*100).toFixed(3);
                            if(re==0){
                                return"0%";
                            }else{
                                return re+"%";
                            }

                        }
                    }
                }
            ];
        }






        // 加载工单基本属性列表
        $('#orderTablelist').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/order_statistics/list',
            method:'post',
            queryParams: {
                status:org_status,
                level: level,
                org_id: org_id,
                proc_code: $("#proc_code").combobox('getValue'),
                startDate: $("#startDate").datebox('getValue'),
                endDate: $("#endDate").datebox('getValue'),
                channel_enterprise_type:$("#channel_enterprise_type").combobox('getValue')
            },
            rownumbers:true,
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            remoteSort:false,
            toolbar: '#toolbar1',
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            sortName:'company_code',
            columns:[fields],

            onLoadSuccess:function(json){
                if (json.success && json.rows.length > 0) {
                    level = Number(json.rows[0].level);
                    if(level !=top_level){
                        org_id = json.rows[0].org_pid[0]
                        export_status=0;
                        org_status = 0;
                    };
                    export_org_id=org_id;
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },

            loadMsg:'正在加载...'
        });
    }
    //点击表格的区域名称进行下钻
    function doSearchOrg(org_id_){
        org_status=0;
        level=level+1;
        org_id=org_id_;
        export_org_id=org_id_;
        export_status=0;
        doSearch();

    }
    //返回上一级
    function return_pre_org(){
        if(level==top_level){
            $.messager.alert('提示','已经是最顶级');
        }else{
            //这里对当前机构的下一级做统一处理,如果到地市级，直接赋值，因为与省公司同级的机构有很多，无法具体指定
            if(level==(top_level+1)){
                org_status=1;
                level=top_level;
                org_id=top_org_id;
                doSearch();
            }else{
                $.ajax({
                    url: '{{projcfg.appurl}}/api/order_manage/order_statistics/pre_org',
                    type: 'post',
                    dataType:'json',
                    data: {
                        org_id:org_id,
                    },
                    success: function (data) {
                        if(data.success){
                            org_status= 0;
                            level=level-1;
                            org_id=data.msg.org_pid;
                            doSearch();
                        }else{
                            $.messager.alert('错误提示','获取上级机构失败');
                        }
                    }
                });
            }


        }
    }
    //返回顶级
    function return_first_org(){
        org_status=1;
        level=top_level;
        org_id=top_org_id;
        export_status = 1;
        doSearch();
    }

    //查询
    function doSearch(){
        loadOrderListDatagrid ();
    }
    //导出查询结果
    $("#exportData").click(function () {
        $.messager.confirm('导出', '确定要导出吗?', function(r) {
            if (r) {
                downloadExcel();
            }
        });
    });

    $("#exportChannelData").click(function () {
        $.messager.confirm('导出', '确定要导出吗?', function(r) {
            if (r) {
                //导出的为上一级的所以要返回一级
                var export_level=level;
                if(level == top_level){
                    export_level=level;
                }else{
                    export_level=level-1;
                }

                downloadExcelDetail(export_level);
            }
        });
    });

    //导出详细资料
    $("#exportDataDetail").click(function () {
        $.messager.confirm('导出', '确定要导出吗?', function(r) {
            if (r) {
                downloadExcelDetail(level);
            }
        });
    });
    /**
     * 是否在下载中 防止重复点击
     */
    var downloadExcelIng = false;
    /**
     * 下载excel
     */
    function downloadExcel() {
        if (downloadExcelIng) {
            msgError('正在导出中,请导出成功后再试！');
            return;
        }
        downloadExcelIng = true;

        var downloadUrl = '{{projcfg.appurl}}/api/order_manage/order_statistics/export_excel?status='
                +export_status+'&level='+level+'&org_id='+org_id+'&proc_code='+$("#proc_code").combobox('getValue')
                +'&startDate='+$("#startDate").datebox('getValue')+'&endDate='+$("#endDate").datebox('getValue')
                +'&channel_enterprise_type='+$("#channel_enterprise_type").combobox('getValue');
        window.location.href=downloadUrl;
        downloadExcelIng = false;
    }



    function downloadExcelDetail(export_level) {
        if (downloadExcelIng) {
            msgError('正在导出中,请导出成功后再试！');
            return;
        }
        downloadExcelIng = true;
        var randomStr =parseInt(Math.random() * 10000) ;


        var downloadUrl = '{{projcfg.appurl}}/api/order_manage/order_statistics/export_excel_detail?status='
                +export_status+'&level='+export_level+'&org_id='+export_org_id+'&proc_code='+$("#proc_code").combobox('getValue')
                +'&startDate='+$("#startDate").datebox('getValue')+'&endDate='+$("#endDate").datebox('getValue')+ '&randomStr=' + randomStr
                +'&channel_enterprise_type='+$("#channel_enterprise_type").combobox('getValue');
        window.location.href = downloadUrl;
        $('#dlg').dialog('open')
        var int_id=  setInterval(function () {
            $.ajax({
                url: '{{projcfg.appurl}}/api/order_manage/order_statistics/getMemcachedValue',
                type: 'post',
                dataType: 'json',
                data: {
                    randomStr: randomStr
                },
                success: function (data) {
                    if(data.success){
                        if(data.data==100){
                            clearInterval(int_id);
                            $('#p').progressbar('setValue', data.data);
                            $('#dlg').dialog('close')
                            downloadExcelIng = false;
                        }else{
                            $('#p').progressbar('setValue', data.data);
                        }

                    }else{
                        clearInterval(int_id);
                        msgError(data.msg);
                        downloadExcelIng = false;
                    }
                }
            })
        }, 1000);

    }
    var export_org_id;
    var export_status;
    //打开明细
    function openDetail(o_status,org_id_){
        export_org_id=org_id_;
        export_status=o_status;
        var field=[
            {"field":"_id",hidden:true},
            {"field": "work_order_number","title":"工单编号","width":"160px"},
            {"field": "proc_title","title":"标题","width":"300px",
                formatter:function(value,row,index){
                    return "<span title='" +value + "'>" + value + "</span>";


                }},
            {"field": "proc_vars","title":"派单内容","width":"300px",
                formatter:function(value,row,index){

                    if(value){
                        var json=JSON.parse(value);
                        if(json){
                            return "<span title='" + json.remark + "'>" + json.remark + "</span>";
                        }else{
                            return '<span style="color:red">派单内容格式错误</span>';
                        }

                    }else{
                        return '无派单内容';
                    }


                }},
            {"field": "proc_name","title":"类型","width":"150px"},
            {"field": "work_id","title":"当前处理人BOSS工号","width":"150px"},
            {"field": "proc_inst_task_assignee_name","title":"当前处理人","width":"150px",
                formatter:function(value,row,index){
                    if(row.proc_inst_status==4){
                        return  '<span style="color:green">/</span>';
                    }else if(value){
                        return value;
                    }else{
                        return  '<span style="color:blueviolet">待认领</span>';
                    }
                }},
            {"field": "proc_inst_task_type","title":"当前状态","width":"150px",
                formatter:function(value,row,index){
                    if(row.proc_inst_status==4){
                        return  '<span style="color:green">已归档</span>';
                    }else{
                        return value;
                    }


                }},
            {"field": "proc_start_time","title":"派单时间","width":"150px",
                formatter:function(value,row,index){
                    var isoDateStr = value.substring(0,value.indexOf('.'));
                    var date=new Date(isoDateStr.replace(/-/g,'/').replace(/T|Z/g,' '));
                    date.setHours(date.getHours()+8)
                    return  date.Format("yyyy-MM-dd hh:mm:ss");

                }},

            {"field": "proc_start_user_name","title":"工单发起人","width":"150px"},
            {"field": "channel_code","title":"渠道编码","width":"100px"},
            {"field": "channel_name","title":"渠道名称","width":"300px"},
            {"field": "channel_work_id","title":"渠道负责人BOSS工号","width":"170px"},
            {"field": "user_name","title":"渠道负责人","width":"150px"},
            {"field": "user_phone","title":"渠道负责人手机号码","width":"150px"},
            {"field": "grid_code","title":"所属网格编码","width":"150px"},
            {"field": "grid_name","title":"所属网格","width":"150px"},
            {"field": "county_code","title":"所属区县编码","width":"150px"},
            {"field": "county_name","title":"所属区县","width":"150px"},
            {"field": "channel_histroy","title":"被派单渠道处理意见","width":"150px",
                formatter:function(value,row,index){

                    var remark_arr=value.toString().split(',');
                    if(remark_arr.length>0){
                        return remark_arr[0];
                    }
                }}
        ];
        if($("#proc_code").combobox('getValue')=='p-109'){
            field.push({"field": "two_histroy","title":"网格负责人","width":"150px",
                formatter:function(value,row,index){
                    if(value && value.length > 0){
                        return value[0].proc_inst_task_assignee_name;
                    }
                }});
            field.push( {"field": "two_histroy1","title":"网格负责人手机号码","width":"150px",
                formatter:function(value,row,index){
                    if(row.two_histroy && row.two_histroy.length > 0){
                        return row.two_histroy[0].proc_inst_task_assignee;
                    }
                }});
            field.push( {"field": "two_histroy2","title":"网格处理人意见","width":"150px",
                formatter:function(value,row,index){
                    if(row.two_histroy  && row.two_histroy.length > 0 ){
                        return row.two_histroy[0].proc_inst_task_remark;
                    }
                }})
        }else{

            field.push({"field": "two_histroy","title":"省级稽核负责人","width":"150px",
                formatter:function(value,row,index){
                    if(value && value.length > 0){
                        return value[0].proc_inst_task_assignee_name;
                    }
                }});
            field.push( {"field": "two_histroy1","title":"省级稽核负责人手机号码","width":"150px",
                formatter:function(value,row,index){
                    if(row.two_histroy && row.two_histroy.length > 0){
                        return row.two_histroy[0].proc_inst_task_assignee;
                    }
                }});
            field.push({"field": "two_histroy2","title":"省级稽核处理人意见","width":"150px",
                formatter:function(value,row,index){
                    if(row.two_histroy  && row.two_histroy.length > 0 ){
                        return row.two_histroy[0].proc_inst_task_remark;
                    }
                }});

        }

        $('#detailTable').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/order_statistics/detail_list',
            method:'post',
            queryParams: {
                status: export_status,
                level: level,
                org_id: org_id_,
                proc_code: $("#proc_code").combobox('getValue'),
                startDate: $("#startDate").datebox('getValue'),
                endDate: $("#endDate").datebox('getValue'),
                channel_enterprise_type:$("#channel_enterprise_type").combobox('getValue'),
            },
            toolbar: '#toolbar2',
            rownumbers:true,
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            columns:[field],
            onDblClickRow:function(rowIndex, rowData){
                var url='{{projcfg.appurl}}/api/order_manage/order_list/showDetailView?proc_code='+rowData.proc_code+'&change_id='+rowData.proc_inst_id+'&status=3';
                var content = '<iframe src="'+url+'" width="100%" height="99%" frameborder="0" scrolling="yes"></iframe>';


                $('#dd').dialog({
                    title : '工单详情',
                    width : 950,
                    height : 550,
                    closed : false,
                    cache : false,
                    href :url ,
                    modal : true
                });

            },
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError(json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });


        $('#detail').show();
        $('#detail').mydialog({
            title:"工单明细",
            width: 1200,
            height: 550,
            top:150,
            modal: true
        });
    }

    //时间格式化:new Date().Format("yyyy-MM-dd hh:mm:ss");
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


</script>