<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="width:600px;height:666px;">
                    <!--<div data-options="region:'west',title:'流程实例管理',border:true" style="width:100%;">-->
                        <div id="toolbar1" class="row tbRow">
                            <div class="col-xs-8 col-md-8">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button id="isprologs" type="button" class="btn btn-default" onclick="openProgressAndLogs()"><i class="glyphicon glyphicon-th-large"></i>查看进度</button>
                                    <button id="isback" type="button" class="btn btn-default" onclick="procBackPrev()"><i class="glyphicon glyphicon-info-sign"></i>回退</button>
                                    <button id="isscrap" type="button" class="btn btn-default" onclick="procScrap()"><i class="glyphicon glyphicon-remove"></i>废弃</button>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 text-right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="input" id="filterParam1" class="form-control" style="width:130px;" placeholder="流程名称/编码"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table id="processInstDataTable">

                        </table>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * @author ZhaoJing
     * 扩展javaScriptDate类型工具js
     * 实现格式化日期功能
     */
    Date.prototype.format = function(format){
        if(isNaN(this.getMonth())){
            return '';
        }
        if(!format){
            format = 'yyyy-MM-dd hh:mm:ss';
        }
        var o = {
            //month
            "M+" : this.getMonth() + 1,
            //day
            "d+" : this.getDate(),
            //hour
            "h+" : this.getHours(),
            //minute
            "m+" : this.getMinutes(),
            //second
            "s+" : this.getSeconds(),
            //quarter
            "q+" : Math.floor((this.getMonth() + 3) / 3),
            //millisecond
            "s" : this.getMilliseconds()
        };
        if(/(y+)/.test(format)){
            format = format.replace(RegExp.$1,(this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for(var k in o){
            if(new RegExp("(" + k + ")").test(format)){
                format = format.replace(RegExp.$1,RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    };

    function loadProInstDatagrid(){
        // 加载流程基本属性列表
        $('#processInstDataTable').datagrid({
            url:'{{projcfg.appurl}}/api/workflow/instance/list',
            method:'get',
            rownumbers:true,
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            toolbar: '#toolbar1',
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            columns:[[
                {"field":"_id",checkbox:true},
                {"field":"proc_cur_task",hidden:true},
                {"field":"proc_code",hidden:true},
                {"field":"proc_cur_task_remark",hidden:true},
                {"field": "proc_title","title":"实例标题","width":200
                },
                {"field": "proc_name","title":"所属流程","width":150},
                {"field": "proc_ver","title":"版本","width":80},
                {"field": "proc_cur_task_name","title":"处理节点","width":120},
                {"field": "proc_inst_status","title":"状态","width":150,
                    formatter:function(value,row,index){
                        if(value == '2'){
                            return "流转中";
                        }else if(value == '4'){
                            return "已归档";
                        }else if(value == '3'){
                            return "子流程流转中";
                        }else if(value == '5' || value == '6'){
                            return row.proc_cur_task_remark;
                        }else{
                            return "实例未启用";
                        }
                    }
                },
                {"field": "proc_start_time","title":"创建时间","width":120,formatter:function(value,row,index){
                    return new Date(value).format();
                }},
                {"field": "proc_start_user_name","title":"派单申请人","width":120}
            ]],
            <!--onDblClickRow:function(rowIndex, rowData){-->
                <!--window.open('{{projcfg.appurl}}/instance/show/progressed?proc_inst_id='+rowData._id+'&proc_inst_status='+rowData.proc_inst_status);-->
            <!--},-->
            onClickRow:function(rowIndex, rowData){
                if(rowData.proc_inst_status != '4' && rowData.proc_inst_status != '6' ){
                    $("#isback").removeAttr("disabled");
                    $("#isscrap").removeAttr("disabled");
                    $("#isprologs").removeAttr("disabled");
                }else if(rowData.proc_inst_status == '6'){
                    $('#isscrap').attr('disabled',"true");
                    $('#isprologs').attr('disabled',"true");
                    $('#isback').attr('disabled',"true");
                }else{
                    $('#isback').attr('disabled',"true");
                    $('#isscrap').attr('disabled',"true");
                }
            },
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError(json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    }


    $(document).ready(function(){
        $('#isback').attr('disabled',"true");
        loadProInstDatagrid();
    });


    function openProgressAndLogs(){
        // 获得选择行
        var rows = $('#processInstDataTable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请先选择一条记录进行进度查看。');
            return false;
        }
        if (rows[0].proc_inst_status == '6') {
            msgError('提示,该流程实例数据已被废弃，无法查看进度。');
            return false;
        }
        <!--window.open('{{projcfg.appurl}}/process/show/progressed?proc_inst_id='+rows[0]._id);-->
        window.open('{{projcfg.appurl}}/api/workflow/instance/show/progressed?proc_inst_id='+rows[0]._id+'&proc_inst_status='+rows[0].proc_inst_status+'&_csrf={{_csrfToken}}');
    }

    function procBackPrev(){
        // 获得选择行
        var rows = $('#processInstDataTable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请先选择一条记录进行回退操作。');
            return false;
        }
        $.messager.confirm('回退确认','确定要回退该实例工单数据吗？',function(r){
            if(r){
                $.ajax({
                    url: '{{projcfg.appurl}}/api/workflow/instance/back',
                    type: 'put',
                    data: {
                        proc_inst_id:rows[0]._id,
                        node_code:rows[0].proc_cur_task
                    },
                    traditional:true,
                    success: function (data) {
                        if(data.success) {
                            $.messager.alert("提示","流程实例工单回退成功","info",function(){
                                doSearch();
                            });
                        }
                        else {
                            $.messager.alert('提示',data.msg+',错误代码:'+data.code,'error');
                        }
                    }
                });
            }
        });
    }

    function procScrap(){
        // 获得选择行
        var rows = $('#processInstDataTable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请先选择一条记录进行废弃操作。');
            return false;
        }
        if (rows[0].proc_inst_status == '6') {
            msgError('提示,该流程实例工单数据已被废弃。');
            return false;
        }
        if (rows[0].proc_inst_status == '4') {
            msgError('提示,该流程实例工单数据已归档，不能进行废弃操作。');
            return false;
        }

        $.messager.confirm('废弃确认','确定要废弃该实例工单数据吗？',function(r){
            if(r){
                $.ajax({
                    url: '{{projcfg.appurl}}/api/workflow/instance/scrap',
                    type: 'put',
                    data: {
                        proc_inst_id:rows[0]._id
                    },
                    traditional:true,
                    success: function (data) {
                        if(data.success) {
                            $.messager.alert("提示","流程实例工单成功废弃","info",function(){
                               doSearch();
                            });
                        }
                        else {
                            $.messager.alert('提示',data.msg+',错误代码:'+data.code,'error');
                        }
                    }
                });
            }
        });
    }

    function doSearch() {
        $('#processInstDataTable').datagrid('reload',{
            'filterParam1':$.trim($('#filterParam1').val())
        });
    }

    // 关闭窗口
    function closeDialog() {
        $('#processBaseModal').dialog('close');
        clear();
    }


</script>