<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">
<script src="{{projcfg.appurl}}/static/js/ajaxfileupload.js"></script>


    <div class="easyui-tabs" id="tabs" >
        <div title="工单信息" style="padding:10px">
        <legend ><b>任务基本信息</b></legend>
        <form id="orderDetailForm" method="post" enctype="multipart/form-data" >
            <table cellpadding="5" align="center" style="border-collapse:separate; border-spacing:0px 5px;">

                <input  type="hidden"id="node_code"  name="proc_inst_task_code"/>
                <input  type="hidden"id="next_code" name="next_code" />
                <input  type="hidden"id="proc_inst_id"  name="proc_inst_id"/>
                <input  type="hidden"id="proc_task_id"  name="proc_task_id"/>
                <input  type="hidden"id="task_title"  name="proc_inst_task_title"/>

                <tr>
                    <td align="right" class="tdLabel">工单标题:</td>
                    <td colspan="3"><input disabled style="width: 665px" class="easyui-textbox"data-options="required:true, missingMessage:'请输入工单标题'" id="proc_inst_task_title"  ></input></td>
                </tr>

                <tr>
                    <td align="right" class="tdLabel">工单类型:</td>
                    <td> <input disabled class="easyui-combobox" name="proc_task_code" id="proc_task_code"  style="width: 280px"></td>

                    <td align="right" class="tdLabel">工作天数:</td>
                    <td><input disabled style="width: 280px"class="easyui-numberbox"data-options="precision:0"  name="work_day" id="work_day"
                    ></input></td>
                </tr>
                <tr>
                    <td align="right" class="tdLabel">开始时间:</td>
                    <td><input disabled style="width: 280px"class="easyui-textbox"
                               id="start_time" name="start_time"></input></td>
                    <td align="right" class="tdLabel">完成时间:</td>
                    <td><input disabled style="width: 280px"  class="easyui-textbox"
                               id="end_time" name="end_time"></input></td>
                    <td colspan="2"></td>

                </tr>
                <tr>
                    <td align="right" class="tdLabel">发起人角色:</td>
                    <td><input disabled style="width: 280px"class="easyui-textbox"
                               name="start_user" ></input></td>

                    <td align="right" class="tdLabel">发起人:</td>
                    <td><input disabled style="width: 280px" class="easyui-textbox"
                               name="start_user_name" ></input></td>

                </tr>

                <tr>
                    <td align="right" class="tdLabel">手机号:</td>
                    <td> <input disabled class="easyui-textbox" name="user_phone" id="user_phone"  style="width: 280px"></td>

                </tr>
                <tr>
                    <td align="right" class="tdLabel">派单内容:</td>
                    <td colspan="3"><input disabled
                                           style="width: 670px; height: 50px; resize: none;" cols="30"
                                           name="remark" rows="4"  class="easyui-textbox"  labelPosition="top" multiline="true"/>
                    </td>
                </tr>
            </table>

            <legend><b>流程日志</b></legend>
            <table cellpadding="5" align="center">
                <tr>
                    <td colspan="4">
                        <table id="dg"></table>
                    </td>
                </tr>

            </table>

            <fieldset id="detail">
            <legend><b>节点处理</b></legend>

            <table  cellpadding="5" align="center" style="border-collapse:separate; border-spacing:0px 5px;">


                <tr>
                    <td align="right" class="tdLabel">当前节点:</td>
                    <td colspan="3"><input disabled style="width: 670px" class="easyui-textbox" name="proc_inst_task_name" id="proc_inst_task_name" ></input></td>



                </tr>
                <tr id="tr_4">
                    <td align="right" class="tdLabel">操作:</td>
                    <td colspan="3" class="tdLabel">
                        <select class="easyui-combobox" name="handle"
                                style="width: 80px;" id="handle"   panelHeight="auto">

                        </select>


                    </td>
                </tr>
               <!-- <tr id="tr_5">
                    <td align="right" class="tdLabel">下一节点处理人:</td>
                    <td colspan="3"><select class="easyui-combobox"
                                            id="nextJobHandler" name="assign_user_no"  style="width: 180px;">

                    </select> </td>


                </tr>-->


                <tr>
                    <td align="right" class="tdLabel">处理意见:</td>
                    <td colspan="2"><input name="memo" class="easyui-textbox"  labelPosition="top" multiline="true" style="width: 670px; height: 54px; resize: none;"/>

                    </td>

                </tr>
                <tr  id="fileUpload">
                    <td align="right" class="tdLabel">附件上传:</td>
                    <td>  <input type="file"labelPosition="top"id="images" name="images" multiple="true" data-options="prompt:'选择文件...',buttonText:'选择'" style="width:250px"/>
                    </td>
                </tr>


            </table>



            </fieldset>
            <div style="padding:5px 0;" align="center" id="button_group">
                <a id="submitButton" href="javascript:void(0);" class="easyui-linkbutton" onclick="submitTask()" style="width: 100px;">提交</a>
            </div>

        </form>


</div>
        <div title="流程图" style="padding:10px">

            <iframe id="iframeId" frameborder=0 width=1200 height=830 marginheight=0 marginwidth=0 scrolling=no src=></iframe>
        </div>
        <div title="附件" style="padding:10px">
            <table cellpadding="5" align="center">
                <tr>
                    <td colspan="4">
                        <table id="file_dg"></table>
                    </td>
                </tr>

            </table>
        </div>
    </div>
<script>
    $.ajaxSettings.beforeSend = function(xhr, request) {
        xhr.setRequestHeader('csrf-token', '{{_csrfToken}}');
    }
</script>
<script type="text/javascript">
    //是否属于归档节点
    var endFlag=false;
    var proc_inst_task_sign=1;
    $(document).ready(function () {

        //状态1:已发起的工单,2：我的待办,3:我的已办，4：新增操作
        var status=GetQueryString("status");
        //状态为2时表示任务id，1和3时为实例id
        var change_id=GetQueryString("change_id");
        if(status==1 ||status==3){
            //隐藏处理操作
            $("#detail").hide();
            $("#submitButton").hide();
        }else if(status==2){
            //待办操作

        }
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_list/orderDetail',
            type: 'post',
            dataType:'json',
            data: {
                "change_id":change_id,
                "status":status
            },
            success: function (data) {
                if(data.success){
                    console.log(JSON.stringify(data.data));
                    //业务数据
                    var proc_vars=data.data.proc_vars;
                    //工单标题
                    var proc_title='';
                    //实例id
                    var inst_id;

                    var proc_vars_json=JSON.parse(proc_vars);
                    //状态为0表示需要认领
                    if(data.data.proc_inst_task_sign==0){
                        proc_inst_task_sign=0;
                        $("#submitButton").text('认领');
                        $("#detail").hide();
                    }

                    //待办标题字段不同
                    if(status==2){
                        proc_title=  data.data.proc_inst_task_title;
                        inst_id=data.data.proc_inst_id;
                        //当前节点
                        var node_code=data.data.proc_inst_task_code;
                        //任务id
                        var task_id=data.data._id;

                        //当前节点名称
                        var proc_inst_task_name= data.data.proc_inst_task_name;
                        $("#proc_inst_task_name").textbox("setValue",proc_inst_task_name);
                        //操作下拉框初始化
                        isEndNode(GetQueryString("proc_code"),node_code,task_id,inst_id);

                        $("#node_code").val(node_code);
                        $("#proc_inst_id").val(inst_id);
                        $("#proc_task_id").val(task_id);


                    }else{
                        proc_title=  data.data.proc_title;
                        inst_id=change_id;

                    }
                    $('#orderDetailForm').form('load', proc_vars_json);
                    $("#proc_inst_task_title").textbox("setValue",proc_title);
                    $("#proc_task_code").combobox("setValue",GetQueryString("proc_code"));

                    //重新加载流程图
                    $('#tabs').tabs({
                        border:false,
                        onSelect:function(title,index){
                            if(title=='流程图'){
                                var url='{{projcfg.appurl}}/api/process/show/progressed?proc_inst_id='+inst_id;
                                document.getElementById("iframeId").src=url;
                            }

                        }
                    });

                    //流程日志
                    $('#dg').datagrid({
                        url:'{{projcfg.appurl}}/api/order_manage/order_complete/logs',
                        width:800,
                        queryParams: {
                            inst_id: inst_id
                        },
                        method:'post',
                        columns:[[
                            {field:'proc_inst_task_name',title:'节点名称',width:130, halign:'center',
                                formatter:function(value,row,index){

                                    return "<span title='" + value + "'>" + value + "</span>";

                                }},
                            {field:'proc_inst_task_assignee_name',title:'处理人',width:100, halign:'center'},
                            {field:'proc_inst_task_complete_time',title:'处理时间',width:145, halign:'center',
                                formatter:function(value,row,index){
                                    if(value!=null){
                                        var isoDateStr = value;
                                        var d2 = new Date(isoDateStr);
                                        return new Date(d2).Format("yyyy-MM-dd hh:mm:ss");
                                    }else{
                                        return '';
                                    }
                                }},
                            {field:'proc_inst_task_remark',title:'处理意见',width:350,
                                halign:'center',
                                formatter: function (value) {
                                    return "<span title='" + value + "'>" + value + "</span>";
                                }}
                        ]]
                    })
                   //上传附件
                    $('#file_dg').datagrid({
                        url:'{{projcfg.appurl}}/api/order_manage/order_list/fileLogs',
                        width:800,
                        queryParams: {
                            inst_id: inst_id
                        },

                        method:'post',
                        columns:[[
                            {field:'_id',hidden:true},
                            {field:'file_name',title:'文件名',width:130, halign:'center',
                                formatter:function(value,row,index){

                                    return "<a href='{{projcfg.appurl}}/api/order_manage/order_list/download/"+row._id+"'>" + value + "</a>";

                                }},
                            {field:'file_path',title:'预览',width:130, halign:'center',height:130,
                                formatter:function(value,row,index){
                                    var extStart=row.file_name.lastIndexOf(".");
                                    var ext=row.file_name.substring(extStart,row.file_name.length).toUpperCase();


                                    var html='';
                                    if(ext=='.JPG' || ext=='.PNG'){
                                        html= '<div id="innerdiv" >'+
                                                '<img id="'+row._id+'"  style="height:130px;width:130px"  src="{{projcfg.appurl}}/api/order_manage/order_list/download/'+row._id+'/?t='+Math.random()+'" />'+
                                                '</div>'
                                    }else if(ext=='.MP3' || ext=='.WAV'|| ext=='.WMA'){
                                        html= '<div id="innerdiv" >'+
                                                '<audio  id="'+row._id+'"  src="{{projcfg.appurl}}/api/order_manage/order_list/download/'+row._id+'/?t='+Math.random()+'"  controls="controls"></audio>'+
                                                '</div>'
                                    }

                                    return html;

                                }},
                            {field:'proc_inst_task_type',title:'上传节点',width:120, halign:'center'},
                            {field:'user_name',title:'上传人',width:60, halign:'center'},
                            {field:'insert_time',title:'上传时间',width:150, halign:'center',
                                formatter:function(value,row,index){
                                    if(value!=null){
                                        var isoDateStr = value;
                                        var d2 = new Date(isoDateStr);
                                        return new Date(d2).Format("yyyy-MM-dd hh:mm:ss");
                                    }else{
                                        return '';
                                    }
                                }},
                            {field:'proc_inst_task_remark',title:'点击上传文件',width:250,
                                halign:'center',
                                formatter: function (value,row,index) {
                                  var html=   '<div align="center"><form id="form'+row._id+'" method="post" enctype="multipart/form-data"> <input id="file'+row._id+'" name="image" type="file"onchange="doUploadCorrect(this)"style="width: 0px;height:0px"/>'+
                                    ' <a  href="javascript:void(0);"type="file" onclick="uploadFile(\''+row._id+'\')">再次上传</a></form>'+
                                         ' &nbsp;&nbsp;<a href="javascript:void(0);" onclick="deleteFile(\''+row._id+'\')" >删除</a></div>'


                                    return html;
                                }}
                        ]]
                    })

                }else{
                    $.messager.alert('错误提示','工单创建失败');

                }
            }
        });

        //初始化工单类型下拉框
        getAllProBase();



    });


function GetQueryString(name) {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)
            return  unescape(r[2]);
        return null;
    }
    /**
     * 初始化工单类型下拉框
     */
    function getAllProBase(){
        $("#proc_task_code").combobox({
            method: 'get',
            url: '{{projcfg.appurl}}/api/order_manage/order_list/proBase',
            valueField:'proc_code',
            textField:'proc_name'
        });

    }
    //时间格式化:new Date().Format("yyyy-MM-dd hh:mm:ss");
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }



    //判断当前节点是否是归档节点
    function isEndNode(proc_code,node_code,task_id,inst_id){
        //判断是否是归档节点
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_list/procDefineDetail',
            type: 'post',
            dataType:'json',
            data: {
                proc_code:proc_code,
                node_code:node_code
            },
            success: function (data) {
                if(data.success){
                    var comboboxData=[];

                    //归档节点
                    if(data.data.isEnd){
                        //是归档节点不需要下一节点处理人
                        $("#tr_5").hide();
                        endFlag=true;
                        comboboxData.push({ value: '1', text: '归档' })  ;
                        $("#fileUpload").hide();

                    }else{
                        //获取下一节点处理人
                     /*   getNextNodeUser(node_code,task_id,inst_id);
                        $("#tr_5").show();*/
                        comboboxData.push({ value: '2', text: '通过' })  ;
                    }
                    if(data.data.haveRefuse){
                    //是否存在拒绝节点
                        comboboxData.push({ value: '0', text: '拒绝' })  ;
                    }
                    $("#handle") .combobox('loadData',comboboxData) ;
                    $("#handle") .combobox('select',comboboxData[0].value)
                }else{
                    $.messager.alert('错误提示',data.error);
                }
            }
        });
    }

    //提交任务
    function submitTask(){

        // 验证表单
       var validate = $('#orderDetailForm').form('validate');
        if(!validate) {
            return false;
        }

        //归档
        if(endFlag && proc_inst_task_sign == 1){
            var formData=$('#orderDetailForm').serializeArray();
            $.ajax({
                url: '{{projcfg.appurl}}/api/order_manage/order_list/complete',
                type: 'post',
                dataType:'json',
                data: formData,
                success: function (data) {
                    if(data.success){
                        parent.$("#dd").dialog('close');
                        parent.$('#orderTablelist').datagrid('reload');
                        $.messager.alert('提示','归档成功');
                    }else{
                        $.messager.alert('错误提示',data.error);
                    }
                }
            });
        }else if( proc_inst_task_sign == 0){
            //开始认领
            $.ajax({
                url: '{{projcfg.appurl}}/api/order_manage/order_todo/accept',
                type: 'post',
                dataType:'json',
                data: {
                   "id":$("#proc_task_id").val()
                },
                success: function (data) {
                    if(data.success){
                       var href= parent.$("#dd").dialog('options').href;
                        parent.$("#dd").dialog({href:href});
                    }else{
                        $.messager.alert('错误提示',data.error);
                    }
                }
            });
        }else{
            $("#task_title").val($("#proc_inst_task_title").textbox('getValue'));

            var obj = document.getElementById("images");
            var length = obj.files.length;
            for(var i=0;i<obj.files.length;i++){
                var temp = obj.files[i].name;
                var size = obj.files[i].size;

                var extStart=temp.lastIndexOf(".");
                var ext=temp.substring(extStart,temp.length).toUpperCase();

                if(ext!=".JPG" && ext!=".PNG" && ext!=".MP3"&& ext!=".WAV"&& ext!=".WMA"){
                    $.messager.alert('提示','文件:'+temp+' 限于jpg,png,MP3,WAV,WMA格式');
                    return;
                }

                if(size > 1024 * 600){
                    $.messager.alert('提示','文件:'+temp+'必须小于600KB');
                    return;
                }
            }

            var ajax_option= {
                   url: "{{projcfg.appurl}}/api/order_manage/order_list/complete?_csrf="+'{{_csrfToken}}',//默认是form action
                   success: function (data) {
                    if(data.success){
                        $.messager.alert('提示','处理成功');
                        parent.$("#dd").dialog('close');
                        parent.$('#orderTablelist').datagrid('reload');

                    }else{
                        parent.$("#dd").dialog('close');
                        parent.$('#orderTablelist').datagrid('reload');
                        $.messager.alert('错误提示',data.msg);
                    }
                }
            }
                $('#orderDetailForm').ajaxSubmit(ajax_option);
        }

    }

    /**
     * 删除上传附件
     * @param id
     */
    function deleteFile(id){
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_list/deleteFile',
            type: 'post',
            dataType:'json',
            data: {
                id:id,
            },
            success: function (data) {
                if(data.success){
                    $('#file_dg').datagrid('reload');
                }else{
                    $.messager.alert('删除失败');
                }
            }
        });
    }
    var file_id;
    function uploadFile(id){

        file_id=id;
        document.getElementById("file"+id).click();

    }
    /**
     * 上传
     */
    function doUploadCorrect(){
        var  filepath = $("#file"+file_id).val();
        // 图片类型
        var extStart=filepath.lastIndexOf(".");
        var ext=filepath.substring(extStart,filepath.length).toUpperCase();

        if(ext!=".JPG" && ext!=".PNG" && ext!=".MP3"&& ext!=".WAV"&& ext!=".WMA"){
            $.messager.alert('提示','文件限于jpg,png,MP3,WAV,WMA格式');
            return;
        }

     if(  document.getElementById("file"+file_id).files[0].size> 1024 * 600){
            $.messager.alert('提示','文件:'+document.getElementById("file"+file_id).files[0].name+'必须小于600KB');
            return;
        }
       $.ajaxFileUpload({
            type:'POST',
            url : '{{projcfg.appurl}}/api/order_manage/order_list/uploadFile?id='+file_id+"&_csrf="+'{{_csrfToken}}',
            secureuri : false,
            fileElementId : 'file'+file_id,     //与html代码中的input的id值对应
            dataType : 'json',
            success : function(data) {
                if(data.success){
                    $.messager.alert('提示','修正成功!');
                    $('#file_dg').datagrid('reload');//刷新
                }else{
                    $.messager.alert('警告',data.msg,'error');
                }
            },
            error:function(err){
                alert(JSON.stringify(err));
            }
        })
        document.getElementById('file'+file_id).outerHTML+="";
    }
    </script>