<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/{{projcfg.theme}}webuploade/webuploader.css">
<script src="{{projcfg.appurl}}/static/{{projcfg.theme}}webuploade/webuploader.js"></script>
<div class="easyui-tabs" id="tabs">
    <div title="工单信息" style="padding:10px">
        <legend><b>任务基本信息</b></legend>
        <form id="orderDetailForm" method="post" enctype="multipart/form-data">
            <table cellpadding="5" align="center" style="border-collapse:separate; border-spacing:0px 5px;">

                <input type="hidden" id="node_code" name="proc_inst_task_code"/>
                <input type="hidden" id="next_code" name="next_code"/>
                <input type="hidden" id="proc_inst_id" name="proc_inst_id"/>
                <input type="hidden" id="proc_task_id" name="proc_task_id"/>
                <input type="hidden" id="task_title" name="proc_inst_task_title"/>

                <tr>
                    <td align="right" class="tdLabel">工单标题:</td>
                    <td colspan="3"><input readonly style="width: 665px" class="easyui-textbox"
                                           data-options="required:true, missingMessage:'请输入工单标题'"
                                           id="proc_inst_task_title"></input></td>
                </tr>

                <tr>
                    <td align="right" class="tdLabel">工单类型:</td>
                    <td><input readonly class="easyui-combobox" name="proc_task_code" id="proc_task_code"
                               style="width: 280px"></td>

                    <td align="right" class="tdLabel">工作天数:</td>
                    <td><input readonly style="width: 280px" class="easyui-numberbox" data-options="precision:0"
                               name="work_day" id="work_day"
                    ></input></td>
                </tr>
                <tr>
                    <td align="right" class="tdLabel">开始时间:</td>
                    <td><input readonly style="width: 280px" class="easyui-textbox"
                               id="start_time" name="start_time"></input></td>
                    <td align="right" class="tdLabel">完成时间:</td>
                    <td><input readonly style="width: 280px" class="easyui-textbox"
                               id="end_time" name="end_time"></input></td>
                    <td colspan="2"></td>

                </tr>
                <tr>
                    <td align="right" class="tdLabel">发起人角色:</td>
                    <td><input readonly style="width: 280px" class="easyui-textbox"
                               name="start_user"></input></td>

                    <td align="right" class="tdLabel">发起人:</td>
                    <td><input readonly style="width: 280px" class="easyui-textbox"
                               name="start_user_name"></input></td>

                </tr>

                <tr>
                    <td align="right" class="tdLabel">客户手机号:</td>
                    <td><input readonly class="easyui-textbox" name="client_tel" id="user_phone" style="width: 280px">
                    </td>

                </tr>
                <tr>
                    <td align="right" class="tdLabel">派单内容:</td>
                    <td colspan="3"><input readonly
                                           style="width: 670px; height: 50px; resize: none;" cols="30"
                                           name="remark" rows="4" class="easyui-textbox" labelPosition="top"
                                           multiline="true"/>
                    </td>
                </tr>
            </table>

            <legend><b>流程日志</b></legend>
            <table cellpadding="5" align="center">
                <tr>
                    <td colspan="4">
                        <table id="dg"></table>
                    </td>
                </tr>

            </table>

            <fieldset id="order_detail">
                <legend><b>节点处理</b></legend>

                <table cellpadding="5" align="center" style="border-collapse:separate; border-spacing:0px 5px;">


                    <tr>
                        <td align="right" class="tdLabel">当前节点:</td>
                        <td colspan="3"><input disabled style="width: 670px" class="easyui-textbox"
                                               name="proc_inst_task_name" id="proc_inst_task_name"></input></td>


                    </tr>
                    <tr>
                        <td align="right" class="tdLabel">处理意见:</td>
                        <td colspan="2"><input  id="memo" name="memo" class="easyui-textbox" labelPosition="top" multiline="true"
                                               style="width: 670px; height: 54px; resize: none;"/>

                        </td>

                    </tr>

                    <tr id="fileUpload">
                        <td align="right" class="tdLabel">附件上传:</td>
                        <td>
                            <div><span style="color:rgba(247,0,0,0.61);font-size:12px">上传附件的格式为:GIF,JPG,JPEG,BPM,PNG,MP3,WAV,WMA,PDF</span>
                            </div>
                            <div id="uploader" class="wu-example">
                                <!--用来存放文件信息-->
                                <div id="picker">选择文件
                                </div>

                                <div id="thelist" class="uploader-list"></div>
                            </div>
                        </td>

                    </tr>
                </table>


            </fieldset>
            <div style="padding:5px 0;" align="center" id="button_group">
                <input id="submitButton" type="button" onclick="submitTask(1)" style="width: 100px;" value="提交"/>

            </div>

        </form>
        <div style="padding:5px 0;display:none" align="center" id="check">
            <a id="checkButton" href="javascript:void(0);" class="easyui-linkbutton" onclick="check(0)"
           style="width: 100px;">复核通过</a>
            <a id="checkButton" href="javascript:void(0);" class="easyui-linkbutton" onclick="openCheck()"
               style="width: 100px;">复核不通过</a>
        </div>

    </div>
    <div title="流程图" style="padding:10px;">

        <iframe id="iframeId" frameborder=0 width=1200 height=830 marginheight=0 marginwidth=0 scrolling=no
                src=></iframe>
    </div>
    <div title="附件" style="padding:10px">

        <table cellpadding="5" align="center">
            <tr id="againFile" style="display: none">
                <td align="right" class="tdLabel">附件上传:</td>
                <td>
                    <div><span style="color:rgba(247,0,0,0.61);font-size:12px">上传附件的格式为:GIF,JPG,JPEG,BPM,PNG,MP3,WAV,WMA,PDF</span>
                    </div>
                    <div class="wu-example">
                        <!--用来存放文件信息-->
                        <div id="filePicker">选择文件
                        </div>

                        <div id="thelist1" class="uploader-list"></div>
                    </div>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <table id="file_dg"></table>
                </td>
            </tr>

        </table>
    </div>
</div>

<div id="checkDetail"  class="mydialog"  >
    <table  align="center">

        <tr>
            <td align="right" class="tdLabel">不通过原因:</td>
            <td colspan="2"><input name="check_memo" id="check_memo"class="easyui-textbox"  labelPosition="top" multiline="true" style="width: 370px; height: 54px; resize: none;"/>

            </td>

        </tr>

    </table>

</div>
<script>

    $.ajaxSettings.beforeSend = function (xhr, request) {
        xhr.setRequestHeader('csrf-token', '{{_csrfToken}}');
    }
</script>

<script type="text/javascript">
    var is_admin='{{is_admin}}'
    var $list = $("#thelist");
    var status = '{{status}}'
    var change_id = '{{change_id}}'
    var proc_code = '{{proc_code}}'
    //详情界面的附件上传
     var uploader = WebUploader.create({
         auto:false,
         // swf文件路径
         swf: '{{projcfg.appurl}}/static/{{projcfg.theme}}webuploade/Uploader.swf',
        method:'POST',
        // 文件接收服务端。
        server: '{{projcfg.appurl}}/api/order_manage/order_list/uploadFile?_csrf=' + '{{_csrfToken}}',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker',

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false,
        // 只允许选择图片文件。
        accept: {
            title: '文件错误',
            extensions: 'gif,jpg,jpeg,bmp,png,mp3,wav,wma,pdf',
            mimeTypes: '*'
        },
        fileNumLimit: 8, //限制上传个数
        fileSingleSizeLimit: 10048000 //限制单个上传图片的大小
    });

      // 验证文件格式
     uploader.on("error", function (type) {
         if (type == "Q_TYPE_DENIED") {
             $.messager.alert('提示',"请上传GIF,JPG,JPEG,BPM,PNG,MP3,WAV,WMA,PDF格式文件");
         }else if (type == "F_DUPLICATE") {
             $.messager.alert('提示',"上传文件重复");
         }else if (type == "F_EXCEED_SIZE") {
             $.messager.alert('提示',"上传文件大小不能大于10M");
         }else{
             $.messager.alert('提示', "上传出错！请检查后重新上传！错误代码"+type);
         }
     });
     // 当有文件被添加进队列的时候
     uploader.on( 'fileQueued', function( file ) {

        if (/[\u4E00-\u9FA5]/i.test(file.name)) {
            $.messager.alert('提示', file.name+"；文件名称不能包含中文");
            uploader.removeFile(uploader.getFile(file.id));
        }else{
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                    '</div>'
                    ),
                    $img = $li.find('img');


            // $list为容器jQuery实例
            $list.append( $li );
        }



    });
     // 文件上传失败，显示上传出错。
     uploader.on('uploadError', function (file) {
       $('#' + file.id).find('p.state').text('上传出错');
     });
     uploader.on( 'all', function( type, arg1, arg2 ) {
        if(type=="uploadFinished"){
            $.messager.alert('提示', '处理成功');
            $("#dd").dialog('close');
            $('#orderTablelist').datagrid('reload');
            $.messager.progress('close');
        }
    });


    //是否属于归档节点
    var endFlag = false;
    var proc_inst_task_sign = 1;


    //状态,1:实例时间  2：待办工单 3：已办工单 4：归档工单
    if (status == 1 || status == 3 || status==4) {
        //隐藏处理操作
        $("#order_detail").hide();
        $("#submitButton").hide();
        //是否是省级管理人员
        if (status == 4 && is_admin=='1') {
            $("#check").show();
        }else{
            $("#check").hide();
        }
    } else if (status == 2) {
        //待办操作
        $("#fileUpload1").show();
    }

    $.ajax({
        url: '{{projcfg.appurl}}/api/order_manage/order_list/orderDetail',
        type: 'post',
        dataType: 'json',
        data: {
            "change_id": change_id,
            "status": status
        },
        success: function (data) {
            if (data.success) {

                //业务数据
                var proc_vars = data.data.proc_vars;
                //工单标题
                var proc_title = '';
                //实例id
                var inst_id;

                var proc_vars_json = JSON.parse(proc_vars);
                //状态为0表示需要认领
                if (data.data.proc_inst_task_sign == 0) {
                    proc_inst_task_sign = 0;
                    $("#submitButton").val('认领');
                    $("#order_detail").hide();
                }

                //待办标题字段不同
                if (status == 2) {
                    proc_title = data.data.proc_inst_task_title;
                    inst_id = data.data.proc_inst_id;
                    //当前节点
                    var node_code = data.data.proc_inst_task_code;
                    //任务id
                    var task_id = data.data._id;

                    //当前节点名称
                    var proc_inst_task_name = data.data.proc_inst_task_name;
                    $("#proc_inst_task_name").textbox("setValue", proc_inst_task_name);
                    //操作下拉框初始化
                    isEndNode(proc_code, node_code, task_id, inst_id);
                    $("#node_code").val(node_code);
                    $("#proc_inst_id").val(inst_id);
                    $("#proc_task_id").val(task_id);


                } else {
                    proc_title = data.data.proc_title;
                    inst_id = change_id;

                }
                $('#orderDetailForm').form('load', proc_vars_json);
                $("#proc_inst_task_title").textbox("setValue", proc_title);
                $("#proc_task_code").combobox("setValue", proc_code);
                var proc_inst_status = data.data.proc_inst_status;
                //重新加载流程图
                $('#tabs').tabs({
                    border: false,
                    onSelect: function (title, index) {
                        if (title == '流程图') {
                            var url = '{{projcfg.appurl}}/api/process/show/progressed?proc_inst_id=' + inst_id;
                            document.getElementById("iframeId").src = url;
                        } else if (title == '附件') {
                            if(proc_inst_status==2){

                                $("#againFile").show();
                                var $list1 = $("#thelist1");
                                var uploader1 = WebUploader.create({
                                    auto: true,
                                    // swf文件路径
                                    swf: '{{projcfg.appurl}}/static/{{projcfg.theme}}webuploade/Uploader.swf',
                                    method: 'POST',
                                    // 文件接收服务端。
                                    server: '{{projcfg.appurl}}/api/order_manage/order_list/uploadFile?_csrf=' + '{{_csrfToken}}',
                                    // 选择文件的按钮。可选。
                                    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                                    pick: '#filePicker',
                                    formData: {
                                        status: 0,
                                        change_id:change_id
                                    },
                                    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                                    resize: false,
                                    // 只允许选择图片文件。
                                    accept: {
                                        title: '文件错误',
                                        extensions: 'gif,jpg,jpeg,bmp,png,mp3,wav,wma,pdf',
                                        mimeTypes: '*'
                                    },
                                    fileNumLimit: 8, //限制上传个数
                                    fileSingleSizeLimit: 10048000 //限制单个上传图片的大小
                                });
                                // 验证文件格式
                                uploader1.on("error", function (type) {
                                    if (type == "Q_TYPE_DENIED") {
                                        $.messager.alert('提示',"请上传GIF,JPG,JPEG,BPM,PNG,MP3,WAV,WMA,PDF格式文件");
                                    }else if (type == "F_DUPLICATE") {
                                        $.messager.alert('提示',"上传文件重复");
                                    }else if (type == "F_EXCEED_SIZE") {
                                        $.messager.alert('提示',"上传文件大小不能大于10M");
                                    }else{
                                        $.messager.alert('提示', "上传出错！请检查后重新上传！错误代码"+type);
                                    }
                                });
                                // 当有文件被添加进队列的时候
                                uploader1.on( 'fileQueued', function( file ) {

                                    if (/[\u4E00-\u9FA5]/i.test(file.name)) {
                                        $.messager.alert('提示', file.name+"；文件名称不能包含中文");
                                        uploader1.removeFile(uploader1.getFile(file.id));
                                    }else{
                                        var $li = $(
                                                '<div id="' + file.id + '" class="file-item thumbnail">' +
                                                '<img>' +
                                                '<div class="info">' + file.name + '</div>' +
                                                '</div>'
                                                ),
                                                $img = $li.find('img');
                                        // $list为容器jQuery实例
                                        $list1.append( $li );
                                    }

                                });
                                uploader1.on( 'all', function( type, arg1, arg2 ) {
                                  if(type=="uploadFinished"){
                                      $('#file_dg').datagrid({
                                          width: 800,
                                          queryParams: {
                                              inst_id: inst_id
                                          },
                                      })
                                    }
                                });

                            }
                        }

                    }
                });

                //流程日志
                $('#dg').datagrid({
                    url: '{{projcfg.appurl}}/api/order_manage/order_complete/logs',
                    width: 800,
                    queryParams: {
                        inst_id: inst_id
                    },
                    method: 'post',
                    columns: [[
                        {
                            field: 'proc_inst_task_name', title: '节点名称', width: 130, halign: 'center',
                            formatter: function (value, row, index) {

                                return "<span title='" + value + "'>" + value + "</span>";

                            }
                        },
                        {field: 'proc_inst_task_assignee_name', title: '处理人', width: 100, halign: 'center'},
                        {
                            field: 'proc_inst_task_complete_time', title: '处理时间', width: 145, halign: 'center',
                            formatter: function (value, row, index) {
                                if (value != null) {
                                    var isoDateStr = value.substring(0, value.indexOf('.'));
                                    var date = new Date(isoDateStr.replace(/-/g, '/').replace(/T|Z/g, ' '));
                                    date.setHours(date.getHours() + 8)
                                    return date.Format("yyyy-MM-dd hh:mm:ss");
                                } else {
                                    return '';
                                }
                            }
                        },
                        {
                            field: 'proc_inst_task_remark', title: '处理意见', width: 350,
                            halign: 'center',
                            formatter: function (value) {
                                return "<span style='width:80%;word-break:normal;display:block;white-space:pre-wrap;overflow:hidden;' title='" + value + "'>" + value + "</span>";
                            }
                        }
                    ]]
                })
                //上传附件
                $('#file_dg').datagrid({
                    url: '{{projcfg.appurl}}/api/order_manage/order_list/fileLogs',
                    width: 800,
                    queryParams: {
                        inst_id: inst_id
                    },

                    method: 'post',
                    columns: [[
                        {field: '_id', hidden: true},
                        {
                            field: 'file_name', title: '文件名', width: 130, halign: 'center',
                            formatter: function (value, row, index) {

                                return "<a href='{{projcfg.appurl}}/api/order_manage/order_list/download/" + row._id + "'>" + value + "</a>";

                            }
                        },
                        {
                            field: 'file_path', title: '预览', width: 130, halign: 'center', height: 130,
                            formatter: function (value, row, index) {
                                var extStart = row.file_name.lastIndexOf(".");
                                var ext = row.file_name.substring(extStart, row.file_name.length).toUpperCase();


                                var html = '';
                                if (ext == '.JPG' || ext == '.PNG') {
                                    html = '<div id="innerdiv" >' +
                                            '<img id="' + row._id + '"  style="height:130px;width:130px"  src="{{projcfg.appurl}}/api/order_manage/order_list/download/' + row._id + '/?t=' + Math.random() + '" />' +
                                            '</div>'
                                } else if (ext == '.MP3' || ext == '.WAV' || ext == '.WMA') {
                                    html = '<div id="innerdiv" >' +
                                            '<audio  id="' + row._id + '"  src="{{projcfg.appurl}}/api/order_manage/order_list/download/' + row._id + '/?t=' + Math.random() + '"  controls="controls"></audio>' +
                                            '</div>'
                                }

                                return html;

                            }
                        },
                        {field: 'proc_inst_task_type', title: '上传节点', width: 120, halign: 'center'},
                        {field: 'user_name', title: '上传人', width: 60, halign: 'center'},
                        {
                            field: 'insert_time', title: '上传时间', width: 150, halign: 'center',
                            formatter: function (value, row, index) {
                                if (value != null) {
                                    var isoDateStr = value.substring(0, value.indexOf('.'));
                                    var date = new Date(isoDateStr.replace(/-/g, '/').replace(/T|Z/g, ' '));
                                    date.setHours(date.getHours() + 8)
                                    return date.Format("yyyy-MM-dd hh:mm:ss");
                                } else {
                                    return '';
                                }
                            }
                        },
                        {
                            field: 'proc_inst_task_remark', title: '操作', width: 250,
                            halign: 'center',
                            formatter: function (value, row, index) {
                                var html = '';
                                if (status == 2 || proc_inst_status==2) {
                                    html = '<div style="text-align: center"><a href="javascript:void(0);" onclick="deleteFile(\'' + row._id + '\')" >删除</a></div>';
                                }
                                return html;
                            }
                        }
                    ]]
                })

            } else {
                $.messager.alert('错误提示', '工单创建失败');

            }
        }
    });

    //初始化工单类型下拉框
    getAllProBase();


    /**
     * 初始化工单类型下拉框
     */
    function getAllProBase() {
        $("#proc_task_code").combobox({
            method: 'get',
            url: '{{projcfg.appurl}}/api/order_manage/order_list/proBase',
            valueField: 'proc_code',
            textField: 'proc_name'
        });

    }

    //时间格式化:new Date().Format("yyyy-MM-dd hh:mm:ss");
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    //判断当前节点是否是归档节点
    function isEndNode(proc_code, node_code, task_id, inst_id) {
        //判断是否是归档节点
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_list/procDefineDetail',
            type: 'post',
            dataType: 'json',
            data: {
                proc_code: proc_code,
                node_code: node_code
            },
            success: function (data) {
                if (data.success) {
                    var comboboxData = [];

                    //归档节点
                    if (data.data.isEnd) {
                        //是归档节点不需要下一节点处理人
                        $("#tr_5").hide();
                        endFlag = true;
                        //comboboxData.push({value: '1', text: '归档'});
                        $("#fileUpload").hide();

                    } else {
                        //获取下一节点处理人 button_group
                        /*   getNextNodeUser(node_code,task_id,inst_id);
                           $("#tr_5").show();*/
                        $("#button_group").html('');
                        $("#button_group").append("<input id=\"submitButton1\" type=\"button\" onclick=\"submitTask(2)\" style=\"width: 100px;\" value=\"提交\"/>");
                        //comboboxData.push({value: '2', text: '通过'});
                    }
                    if (data.data.haveRefuse) {
                        //是否存在拒绝节点
                        if (proc_inst_task_sign!=0){
                            $("#button_group").append("<input id=\"submitButton2\" type=\"button\" onclick=\"submitTask(0)\" style=\"width: 100px;\" value=\"拒绝\"/>"+"&nbsp;");
                            $("#button_group").append("<input id=\"submitButton3\" type=\"button\" onclick=\"submitTask(3)\" style=\"width: 100px;\" value=\"客户不配合\"/>");

                        }
                        //comboboxData.push({value: '0', text: '拒绝'});
                    }
                   // comboboxData.push({value: '3', text: '客户不配合'});
                   // $("#handle").combobox('loadData', comboboxData);
                    //$("#handle").combobox('select', comboboxData[0].value)
                } else {
                    $.messager.alert('错误提示', data.msg);
                }
            }
        });
    }


    //提交任务
    function submitTask(handle) {
        //alert(handle);
        // 验证表单
        var validate = $('#orderDetailForm').form('validate');
        if (!validate) {
            return false;
        }

        $.messager.confirm('提示', '确认处理么?', function (r) {
            if (r) {
                $.messager.progress({
                    title: '提示',
                    msg: '处理中，请稍候……',
                    text: ''
                });

                //归档
                if (endFlag && proc_inst_task_sign == 1) {
                    var formData = $('#orderDetailForm').serializeArray();
                    var proc_task_id =$("#proc_task_id").val();
                    var memo =$("#memo").val();
                    //alert(memo);
                    $.ajax({
                        url: '{{projcfg.appurl}}/api/order_manage/order_list/complete',
                        type: 'post',
                        dataType: 'json',
                        data:'handle='+handle+'&proc_task_id='+proc_task_id+'&memo='+memo,
                        success: function (data) {
                            if (data.success) {
                                parent.$("#dd").dialog('close');
                                parent.$('#orderTablelist').datagrid('reload');
                                $.messager.alert('提示', '处理成功');
                            } else {
                                $.messager.alert('错误提示', data.msg);
                            }
                            $.messager.progress('close');
                        }
                    });
                } else if (proc_inst_task_sign == 0) {
                    //开始认领
                    $.ajax({
                        url: '{{projcfg.appurl}}/api/order_manage/order_todo/accept',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            "id": $("#proc_task_id").val()
                        },
                        success: function (data) {
                            if (data.success) {
                                var href = parent.$("#dd").dialog('options').href;
                                parent.$("#dd").dialog({href: href});
                            } else {
                                $.messager.alert('错误提示', data.msg);
                            }
                            $.messager.progress('close');
                        }
                    });
                } else {
                    $("#task_title").val($("#proc_inst_task_title").textbox('getValue'));
                    var formData = $('#orderDetailForm').serializeArray();
                    var proc_task_id =$("#proc_task_id").val();
                    var memo =$("#memo").val();
                    $.ajax({
                        url: "{{projcfg.appurl}}/api/order_manage/order_list/complete?_csrf=" + '{{_csrfToken}}',
                        type: 'post',
                        dataType: 'json',
                        data: 'handle='+handle+'&proc_task_id='+proc_task_id+'&memo='+memo,
                        success: function (data) {
                            if (data.success) {
                                //如果有选择文件
                                if (uploader.getFiles().length > 0) {
                                    var obj = new Object();
                                    obj.status = 1;
                                    obj.change_id = $("#proc_task_id").val();
                                    uploader.options.formData = obj;
                                    uploader.upload()
                                } else {
                                    $.messager.alert('提示', '处理成功');
                                    $("#dd").dialog('close');
                                    $('#orderTablelist').datagrid('reload');
                                    $.messager.progress('close');
                                }

                            } else {
                                $.messager.alert('错误提示', data.msg);
                            }

                        }
                    });
                }

            }

        })


    }

    /**
     * 删除上传附件
     * @param id
     */
    function deleteFile(id) {
        $.ajax({
            url: '{{projcfg.appurl}}/api/order_manage/order_list/deleteFile',
            type: 'post',
            dataType: 'json',
            data: {
                id: id,
            },
            success: function (data) {
                if (data.success) {
                    $('#file_dg').datagrid('reload');
                } else {
                    $.messager.alert('删除失败');
                }
            }
        });
    }
    function openCheck(){

        $('#checkDetail').show();
        $('#checkDetail').mydialog({
            title:"复核信息",
            width: 700,
            height: 150,
            top:250,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        check(1);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        $('#checkDetail').dialog("close");
                    }
                }
            ]
        });

    }

    //提交复核
    function check(check_status){

         $.messager.confirm('提示', '确认对此工单进行复核么?', function (r) {
            if (r) {
                $.ajax({
                    url: '{{projcfg.appurl}}/api/order_manage/order_list/checkFile',
                    type: 'post',
                    dataType:'json',
                    data: {
                        inst_id:change_id,
                        status:check_status,
                        check_memo:$("#check_memo").val(),
                    },
                    success: function (data) {
                        if(data.success){
                            if(check_status==1){
                                $('#checkDetail').dialog("close");
                            }
                            $.messager.alert('提示','处理成功');
                            $("#dd").dialog('close');
                            parent.$('#orderTablelist').datagrid('reload');
                            parent.$('#orderTablelist3').datagrid('reload');

                        }else{
                            $.messager.alert('错误提示',data.msg);

                        }
                    }
                });
            }
        })

    }
</script>
